@charset "UTF-8";
/*
@function palette($palette, $variant: 'base') {
    @return map-get(map-get($color-palettes, $palette), $variant);
}
*/
.row {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto; }
  .row::before, .row::after {
    content: ' ';
    display: table;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .row::after {
    clear: both; }
  .row.collapse > .column, .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row .row {
    margin-left: -0.625rem;
    margin-right: -0.625rem; }
    @media screen and (min-width: 40em) {
      .row .row {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem; } }
    .row .row.collapse {
      margin-left: 0;
      margin-right: 0; }
  .row.expanded {
    max-width: none; }
    .row.expanded .row {
      margin-left: auto;
      margin-right: auto; }

.column, .columns {
  width: 100%;
  float: left;
  padding-left: 0.625rem;
  padding-right: 0.625rem; }
  @media screen and (min-width: 40em) {
    .column, .columns {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
  .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: right; }
  .column.end:last-child:last-child, .end.columns:last-child:last-child {
    float: left; }

.column.row.row, .row.row.columns {
  float: none; }
  .row .column.row.row, .row .row.row.columns {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; }

.small-1 {
  width: 8.3333333333%; }

.small-push-1 {
  position: relative;
  left: 8.3333333333%; }

.small-pull-1 {
  position: relative;
  left: -8.3333333333%; }

.small-offset-0 {
  margin-left: 0%; }

.small-2 {
  width: 16.6666666667%; }

.small-push-2 {
  position: relative;
  left: 16.6666666667%; }

.small-pull-2 {
  position: relative;
  left: -16.6666666667%; }

.small-offset-1 {
  margin-left: 8.3333333333%; }

.small-3 {
  width: 25%; }

.small-push-3 {
  position: relative;
  left: 25%; }

.small-pull-3 {
  position: relative;
  left: -25%; }

.small-offset-2 {
  margin-left: 16.6666666667%; }

.small-4 {
  width: 33.3333333333%; }

.small-push-4 {
  position: relative;
  left: 33.3333333333%; }

.small-pull-4 {
  position: relative;
  left: -33.3333333333%; }

.small-offset-3 {
  margin-left: 25%; }

.small-5 {
  width: 41.6666666667%; }

.small-push-5 {
  position: relative;
  left: 41.6666666667%; }

.small-pull-5 {
  position: relative;
  left: -41.6666666667%; }

.small-offset-4 {
  margin-left: 33.3333333333%; }

.small-6 {
  width: 50%; }

.small-push-6 {
  position: relative;
  left: 50%; }

.small-pull-6 {
  position: relative;
  left: -50%; }

.small-offset-5 {
  margin-left: 41.6666666667%; }

.small-7 {
  width: 58.3333333333%; }

.small-push-7 {
  position: relative;
  left: 58.3333333333%; }

.small-pull-7 {
  position: relative;
  left: -58.3333333333%; }

.small-offset-6 {
  margin-left: 50%; }

.small-8 {
  width: 66.6666666667%; }

.small-push-8 {
  position: relative;
  left: 66.6666666667%; }

.small-pull-8 {
  position: relative;
  left: -66.6666666667%; }

.small-offset-7 {
  margin-left: 58.3333333333%; }

.small-9 {
  width: 75%; }

.small-push-9 {
  position: relative;
  left: 75%; }

.small-pull-9 {
  position: relative;
  left: -75%; }

.small-offset-8 {
  margin-left: 66.6666666667%; }

.small-10 {
  width: 83.3333333333%; }

.small-push-10 {
  position: relative;
  left: 83.3333333333%; }

.small-pull-10 {
  position: relative;
  left: -83.3333333333%; }

.small-offset-9 {
  margin-left: 75%; }

.small-11 {
  width: 91.6666666667%; }

.small-push-11 {
  position: relative;
  left: 91.6666666667%; }

.small-pull-11 {
  position: relative;
  left: -91.6666666667%; }

.small-offset-10 {
  margin-left: 83.3333333333%; }

.small-12 {
  width: 100%; }

.small-offset-11 {
  margin-left: 91.6666666667%; }

.small-up-1 > .column, .small-up-1 > .columns {
  width: 100%;
  float: left; }
  .small-up-1 > .column:nth-of-type(1n), .small-up-1 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-1 > .column:nth-of-type(1n+1), .small-up-1 > .columns:nth-of-type(1n+1) {
    clear: both; }
  .small-up-1 > .column:last-child, .small-up-1 > .columns:last-child {
    float: left; }

.small-up-2 > .column, .small-up-2 > .columns {
  width: 50%;
  float: left; }
  .small-up-2 > .column:nth-of-type(1n), .small-up-2 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-2 > .column:nth-of-type(2n+1), .small-up-2 > .columns:nth-of-type(2n+1) {
    clear: both; }
  .small-up-2 > .column:last-child, .small-up-2 > .columns:last-child {
    float: left; }

.small-up-3 > .column, .small-up-3 > .columns {
  width: 33.3333333333%;
  float: left; }
  .small-up-3 > .column:nth-of-type(1n), .small-up-3 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-3 > .column:nth-of-type(3n+1), .small-up-3 > .columns:nth-of-type(3n+1) {
    clear: both; }
  .small-up-3 > .column:last-child, .small-up-3 > .columns:last-child {
    float: left; }

.small-up-4 > .column, .small-up-4 > .columns {
  width: 25%;
  float: left; }
  .small-up-4 > .column:nth-of-type(1n), .small-up-4 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-4 > .column:nth-of-type(4n+1), .small-up-4 > .columns:nth-of-type(4n+1) {
    clear: both; }
  .small-up-4 > .column:last-child, .small-up-4 > .columns:last-child {
    float: left; }

.small-up-5 > .column, .small-up-5 > .columns {
  width: 20%;
  float: left; }
  .small-up-5 > .column:nth-of-type(1n), .small-up-5 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-5 > .column:nth-of-type(5n+1), .small-up-5 > .columns:nth-of-type(5n+1) {
    clear: both; }
  .small-up-5 > .column:last-child, .small-up-5 > .columns:last-child {
    float: left; }

.small-up-6 > .column, .small-up-6 > .columns {
  width: 16.6666666667%;
  float: left; }
  .small-up-6 > .column:nth-of-type(1n), .small-up-6 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-6 > .column:nth-of-type(6n+1), .small-up-6 > .columns:nth-of-type(6n+1) {
    clear: both; }
  .small-up-6 > .column:last-child, .small-up-6 > .columns:last-child {
    float: left; }

.small-up-7 > .column, .small-up-7 > .columns {
  width: 14.2857142857%;
  float: left; }
  .small-up-7 > .column:nth-of-type(1n), .small-up-7 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-7 > .column:nth-of-type(7n+1), .small-up-7 > .columns:nth-of-type(7n+1) {
    clear: both; }
  .small-up-7 > .column:last-child, .small-up-7 > .columns:last-child {
    float: left; }

.small-up-8 > .column, .small-up-8 > .columns {
  width: 12.5%;
  float: left; }
  .small-up-8 > .column:nth-of-type(1n), .small-up-8 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-8 > .column:nth-of-type(8n+1), .small-up-8 > .columns:nth-of-type(8n+1) {
    clear: both; }
  .small-up-8 > .column:last-child, .small-up-8 > .columns:last-child {
    float: left; }

.small-collapse > .column, .small-collapse > .columns {
  padding-left: 0;
  padding-right: 0; }

.small-collapse .row {
  margin-left: 0;
  margin-right: 0; }

.small-uncollapse > .column, .small-uncollapse > .columns {
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

.small-centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.small-uncentered,
.small-push-0,
.small-pull-0 {
  position: static;
  margin-left: 0;
  margin-right: 0;
  float: left; }

@media screen and (min-width: 40em) {
  .medium-1 {
    width: 8.3333333333%; }
  .medium-push-1 {
    position: relative;
    left: 8.3333333333%; }
  .medium-pull-1 {
    position: relative;
    left: -8.3333333333%; }
  .medium-offset-0 {
    margin-left: 0%; }
  .medium-2 {
    width: 16.6666666667%; }
  .medium-push-2 {
    position: relative;
    left: 16.6666666667%; }
  .medium-pull-2 {
    position: relative;
    left: -16.6666666667%; }
  .medium-offset-1 {
    margin-left: 8.3333333333%; }
  .medium-3 {
    width: 25%; }
  .medium-push-3 {
    position: relative;
    left: 25%; }
  .medium-pull-3 {
    position: relative;
    left: -25%; }
  .medium-offset-2 {
    margin-left: 16.6666666667%; }
  .medium-4 {
    width: 33.3333333333%; }
  .medium-push-4 {
    position: relative;
    left: 33.3333333333%; }
  .medium-pull-4 {
    position: relative;
    left: -33.3333333333%; }
  .medium-offset-3 {
    margin-left: 25%; }
  .medium-5 {
    width: 41.6666666667%; }
  .medium-push-5 {
    position: relative;
    left: 41.6666666667%; }
  .medium-pull-5 {
    position: relative;
    left: -41.6666666667%; }
  .medium-offset-4 {
    margin-left: 33.3333333333%; }
  .medium-6 {
    width: 50%; }
  .medium-push-6 {
    position: relative;
    left: 50%; }
  .medium-pull-6 {
    position: relative;
    left: -50%; }
  .medium-offset-5 {
    margin-left: 41.6666666667%; }
  .medium-7 {
    width: 58.3333333333%; }
  .medium-push-7 {
    position: relative;
    left: 58.3333333333%; }
  .medium-pull-7 {
    position: relative;
    left: -58.3333333333%; }
  .medium-offset-6 {
    margin-left: 50%; }
  .medium-8 {
    width: 66.6666666667%; }
  .medium-push-8 {
    position: relative;
    left: 66.6666666667%; }
  .medium-pull-8 {
    position: relative;
    left: -66.6666666667%; }
  .medium-offset-7 {
    margin-left: 58.3333333333%; }
  .medium-9 {
    width: 75%; }
  .medium-push-9 {
    position: relative;
    left: 75%; }
  .medium-pull-9 {
    position: relative;
    left: -75%; }
  .medium-offset-8 {
    margin-left: 66.6666666667%; }
  .medium-10 {
    width: 83.3333333333%; }
  .medium-push-10 {
    position: relative;
    left: 83.3333333333%; }
  .medium-pull-10 {
    position: relative;
    left: -83.3333333333%; }
  .medium-offset-9 {
    margin-left: 75%; }
  .medium-11 {
    width: 91.6666666667%; }
  .medium-push-11 {
    position: relative;
    left: 91.6666666667%; }
  .medium-pull-11 {
    position: relative;
    left: -91.6666666667%; }
  .medium-offset-10 {
    margin-left: 83.3333333333%; }
  .medium-12 {
    width: 100%; }
  .medium-offset-11 {
    margin-left: 91.6666666667%; }
  .medium-up-1 > .column, .medium-up-1 > .columns {
    width: 100%;
    float: left; }
    .medium-up-1 > .column:nth-of-type(1n), .medium-up-1 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-1 > .column:nth-of-type(1n+1), .medium-up-1 > .columns:nth-of-type(1n+1) {
      clear: both; }
    .medium-up-1 > .column:last-child, .medium-up-1 > .columns:last-child {
      float: left; }
  .medium-up-2 > .column, .medium-up-2 > .columns {
    width: 50%;
    float: left; }
    .medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-2 > .column:nth-of-type(2n+1), .medium-up-2 > .columns:nth-of-type(2n+1) {
      clear: both; }
    .medium-up-2 > .column:last-child, .medium-up-2 > .columns:last-child {
      float: left; }
  .medium-up-3 > .column, .medium-up-3 > .columns {
    width: 33.3333333333%;
    float: left; }
    .medium-up-3 > .column:nth-of-type(1n), .medium-up-3 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-3 > .column:nth-of-type(3n+1), .medium-up-3 > .columns:nth-of-type(3n+1) {
      clear: both; }
    .medium-up-3 > .column:last-child, .medium-up-3 > .columns:last-child {
      float: left; }
  .medium-up-4 > .column, .medium-up-4 > .columns {
    width: 25%;
    float: left; }
    .medium-up-4 > .column:nth-of-type(1n), .medium-up-4 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-4 > .column:nth-of-type(4n+1), .medium-up-4 > .columns:nth-of-type(4n+1) {
      clear: both; }
    .medium-up-4 > .column:last-child, .medium-up-4 > .columns:last-child {
      float: left; }
  .medium-up-5 > .column, .medium-up-5 > .columns {
    width: 20%;
    float: left; }
    .medium-up-5 > .column:nth-of-type(1n), .medium-up-5 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-5 > .column:nth-of-type(5n+1), .medium-up-5 > .columns:nth-of-type(5n+1) {
      clear: both; }
    .medium-up-5 > .column:last-child, .medium-up-5 > .columns:last-child {
      float: left; }
  .medium-up-6 > .column, .medium-up-6 > .columns {
    width: 16.6666666667%;
    float: left; }
    .medium-up-6 > .column:nth-of-type(1n), .medium-up-6 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-6 > .column:nth-of-type(6n+1), .medium-up-6 > .columns:nth-of-type(6n+1) {
      clear: both; }
    .medium-up-6 > .column:last-child, .medium-up-6 > .columns:last-child {
      float: left; }
  .medium-up-7 > .column, .medium-up-7 > .columns {
    width: 14.2857142857%;
    float: left; }
    .medium-up-7 > .column:nth-of-type(1n), .medium-up-7 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-7 > .column:nth-of-type(7n+1), .medium-up-7 > .columns:nth-of-type(7n+1) {
      clear: both; }
    .medium-up-7 > .column:last-child, .medium-up-7 > .columns:last-child {
      float: left; }
  .medium-up-8 > .column, .medium-up-8 > .columns {
    width: 12.5%;
    float: left; }
    .medium-up-8 > .column:nth-of-type(1n), .medium-up-8 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-8 > .column:nth-of-type(8n+1), .medium-up-8 > .columns:nth-of-type(8n+1) {
      clear: both; }
    .medium-up-8 > .column:last-child, .medium-up-8 > .columns:last-child {
      float: left; }
  .medium-collapse > .column, .medium-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .medium-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .medium-uncollapse > .column, .medium-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  .medium-centered {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .medium-uncentered,
  .medium-push-0,
  .medium-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left; } }

@media screen and (min-width: 64em) {
  .large-1 {
    width: 8.3333333333%; }
  .large-push-1 {
    position: relative;
    left: 8.3333333333%; }
  .large-pull-1 {
    position: relative;
    left: -8.3333333333%; }
  .large-offset-0 {
    margin-left: 0%; }
  .large-2 {
    width: 16.6666666667%; }
  .large-push-2 {
    position: relative;
    left: 16.6666666667%; }
  .large-pull-2 {
    position: relative;
    left: -16.6666666667%; }
  .large-offset-1 {
    margin-left: 8.3333333333%; }
  .large-3 {
    width: 25%; }
  .large-push-3 {
    position: relative;
    left: 25%; }
  .large-pull-3 {
    position: relative;
    left: -25%; }
  .large-offset-2 {
    margin-left: 16.6666666667%; }
  .large-4 {
    width: 33.3333333333%; }
  .large-push-4 {
    position: relative;
    left: 33.3333333333%; }
  .large-pull-4 {
    position: relative;
    left: -33.3333333333%; }
  .large-offset-3 {
    margin-left: 25%; }
  .large-5 {
    width: 41.6666666667%; }
  .large-push-5 {
    position: relative;
    left: 41.6666666667%; }
  .large-pull-5 {
    position: relative;
    left: -41.6666666667%; }
  .large-offset-4 {
    margin-left: 33.3333333333%; }
  .large-6 {
    width: 50%; }
  .large-push-6 {
    position: relative;
    left: 50%; }
  .large-pull-6 {
    position: relative;
    left: -50%; }
  .large-offset-5 {
    margin-left: 41.6666666667%; }
  .large-7 {
    width: 58.3333333333%; }
  .large-push-7 {
    position: relative;
    left: 58.3333333333%; }
  .large-pull-7 {
    position: relative;
    left: -58.3333333333%; }
  .large-offset-6 {
    margin-left: 50%; }
  .large-8 {
    width: 66.6666666667%; }
  .large-push-8 {
    position: relative;
    left: 66.6666666667%; }
  .large-pull-8 {
    position: relative;
    left: -66.6666666667%; }
  .large-offset-7 {
    margin-left: 58.3333333333%; }
  .large-9 {
    width: 75%; }
  .large-push-9 {
    position: relative;
    left: 75%; }
  .large-pull-9 {
    position: relative;
    left: -75%; }
  .large-offset-8 {
    margin-left: 66.6666666667%; }
  .large-10 {
    width: 83.3333333333%; }
  .large-push-10 {
    position: relative;
    left: 83.3333333333%; }
  .large-pull-10 {
    position: relative;
    left: -83.3333333333%; }
  .large-offset-9 {
    margin-left: 75%; }
  .large-11 {
    width: 91.6666666667%; }
  .large-push-11 {
    position: relative;
    left: 91.6666666667%; }
  .large-pull-11 {
    position: relative;
    left: -91.6666666667%; }
  .large-offset-10 {
    margin-left: 83.3333333333%; }
  .large-12 {
    width: 100%; }
  .large-offset-11 {
    margin-left: 91.6666666667%; }
  .large-up-1 > .column, .large-up-1 > .columns {
    width: 100%;
    float: left; }
    .large-up-1 > .column:nth-of-type(1n), .large-up-1 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-1 > .column:nth-of-type(1n+1), .large-up-1 > .columns:nth-of-type(1n+1) {
      clear: both; }
    .large-up-1 > .column:last-child, .large-up-1 > .columns:last-child {
      float: left; }
  .large-up-2 > .column, .large-up-2 > .columns {
    width: 50%;
    float: left; }
    .large-up-2 > .column:nth-of-type(1n), .large-up-2 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-2 > .column:nth-of-type(2n+1), .large-up-2 > .columns:nth-of-type(2n+1) {
      clear: both; }
    .large-up-2 > .column:last-child, .large-up-2 > .columns:last-child {
      float: left; }
  .large-up-3 > .column, .large-up-3 > .columns {
    width: 33.3333333333%;
    float: left; }
    .large-up-3 > .column:nth-of-type(1n), .large-up-3 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-3 > .column:nth-of-type(3n+1), .large-up-3 > .columns:nth-of-type(3n+1) {
      clear: both; }
    .large-up-3 > .column:last-child, .large-up-3 > .columns:last-child {
      float: left; }
  .large-up-4 > .column, .large-up-4 > .columns {
    width: 25%;
    float: left; }
    .large-up-4 > .column:nth-of-type(1n), .large-up-4 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-4 > .column:nth-of-type(4n+1), .large-up-4 > .columns:nth-of-type(4n+1) {
      clear: both; }
    .large-up-4 > .column:last-child, .large-up-4 > .columns:last-child {
      float: left; }
  .large-up-5 > .column, .large-up-5 > .columns {
    width: 20%;
    float: left; }
    .large-up-5 > .column:nth-of-type(1n), .large-up-5 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-5 > .column:nth-of-type(5n+1), .large-up-5 > .columns:nth-of-type(5n+1) {
      clear: both; }
    .large-up-5 > .column:last-child, .large-up-5 > .columns:last-child {
      float: left; }
  .large-up-6 > .column, .large-up-6 > .columns {
    width: 16.6666666667%;
    float: left; }
    .large-up-6 > .column:nth-of-type(1n), .large-up-6 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-6 > .column:nth-of-type(6n+1), .large-up-6 > .columns:nth-of-type(6n+1) {
      clear: both; }
    .large-up-6 > .column:last-child, .large-up-6 > .columns:last-child {
      float: left; }
  .large-up-7 > .column, .large-up-7 > .columns {
    width: 14.2857142857%;
    float: left; }
    .large-up-7 > .column:nth-of-type(1n), .large-up-7 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-7 > .column:nth-of-type(7n+1), .large-up-7 > .columns:nth-of-type(7n+1) {
      clear: both; }
    .large-up-7 > .column:last-child, .large-up-7 > .columns:last-child {
      float: left; }
  .large-up-8 > .column, .large-up-8 > .columns {
    width: 12.5%;
    float: left; }
    .large-up-8 > .column:nth-of-type(1n), .large-up-8 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-8 > .column:nth-of-type(8n+1), .large-up-8 > .columns:nth-of-type(8n+1) {
      clear: both; }
    .large-up-8 > .column:last-child, .large-up-8 > .columns:last-child {
      float: left; }
  .large-collapse > .column, .large-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .large-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .large-uncollapse > .column, .large-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  .large-centered {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .large-uncentered,
  .large-push-0,
  .large-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left; } }

/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

audio:not([controls]) {
  display: none; }

b,
strong {
  font-weight: bolder; }

button {
  -webkit-appearance: button;
  overflow: visible; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

button,
select {
  text-transform: none; }

details {
  display: block; }

hr {
  overflow: visible; }

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

input {
  -webkit-border-radius: 0; }
  input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; }
  input[type="number"] {
    width: auto; }
  input[type="search"] {
    -webkit-appearance: textfield; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

main {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

summary {
  display: block; }

svg:not(:root) {
  overflow: hidden; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

/*
 * Opinionated defaults
 */
* {
  margin: 0;
  padding: 0; }

*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

svg {
  fill: currentColor; }

[aria-busy="true"] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute; }
  [hidden][aria-hidden="false"]:focus {
    clip: auto; }

/*
 * Configurable defaults
 */
* {
  background-repeat: no-repeat; }

:root {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #000000;
  cursor: default;
  font: 100% / 1.5 sans-serif; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

small {
  font-size: 75%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::-moz-selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none; }

html {
  font-size: 100%; }

body {
  line-height: 1.6;
  font-weight: 400;
  font-family: "Merriweather", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222222; }

h1 {
  font-size: 3.157rem; }

h2 {
  font-size: 2.369rem; }

h3 {
  font-size: 1.777rem; }

h4 {
  font-size: 1.333rem; }

h5 {
  font-size: 1.222rem; }

h6 {
  font-size: 1.111rem; }

h1, h2,
h3, h4,
h5, h6 {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  margin: 2rem 0 1rem; }

.subheader {
  color: #858585;
  font-weight: 300; }

p {
  margin: 0 0 1.6rem; }

.lead-text {
  font-size: 1.3em; }

small {
  font-size: 0.8rem; }

q:before {
  content: '“'; }

q:after {
  content: '”'; }

q q:before {
  content: '‘'; }

q q:after {
  content: '’'; }

blockquote {
  margin: 0 0 1.6em 0;
  padding: 1rem 2rem;
  border-left: 5px solid #DDDDDD;
  color: #222222;
  font-size: 1.1em;
  background: #FAFAFA; }
  blockquote cite {
    display: block;
    font-size: 0.8em;
    color: #222222;
    font-style: oblique; }

a {
  color: #1EAEDB; }

a:hover {
  color: #157998; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none; }

ul {
  list-style: disc inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  margin: 0 0 1.6rem;
  padding-left: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-left: 2rem; }

li {
  margin: 0.5rem 0; }

ul.no-bullet {
  list-style: none; }

ul.inline-list {
  list-style: none; }

.inline-list > li {
  list-style: none;
  float: left;
  display: block; }

code {
  font-family: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  background: #F1F1F1;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  white-space: nowrap;
  overflow: auto; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

hr {
  border: solid #CCCCCC;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.6em 0;
  height: 0; }

img {
  max-width: 100%;
  height: auto; }

.th {
  line-height: 0;
  display: inline-block;
  border: solid 4px transparent;
  max-width: 100%;
  box-shadow: 0 0 0 1px #CCCCCC; }

.th:hover,
.th:focus {
  box-shadow: 0 0 0 1px #1EAEDB; }

.fleft {
  float: left !important; }

.fright {
  float: right !important; }

.radius {
  border-radius: 4px; }

.rounded {
  border-radius: 1000px; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-centered {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.hidden {
  display: none;
  visibility: hidden !important; }

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.z1 {
  z-index: 1; }

.z2 {
  z-index: 2; }

.z3 {
  z-index: 3; }

.z4 {
  z-index: 4; }

.z5 {
  z-index: 5; }

@media print {
  @page {
    margin: 0.5cm; }
  #header,
  #footer,
  #navigation,
  #rightSideBar,
  #leftSideBar {
    display: none; }
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid; }
  img {
    display: none; } }

form {
  background: transparent; }

/* Removes awkard default styles on some inputs */
input[type="email"],
input[type="search"],
input[type="text"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type="search"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="date"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="url"],
input[type="password"],
input[type="range"],
input[type="color"],
textarea,
select {
  border: 1px solid #CCCCCC;
  min-height: 36px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  box-shadow: none;
  background: white;
  width: 100%;
  margin-bottom: 1.6em;
  border-radius: 4px; }
  input[type="search"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="date"]:focus,
  input[type="datetime-local"]:focus,
  input[type="week"]:focus,
  input[type="month"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="range"]:focus,
  input[type="color"]:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #1EAEDB;
    outline: 0; }
  input[type="search"]:disabled,
  input[type="email"]:disabled,
  input[type="number"]:disabled,
  input[type="tel"]:disabled,
  input[type="time"]:disabled,
  input[type="date"]:disabled,
  input[type="datetime-local"]:disabled,
  input[type="week"]:disabled,
  input[type="month"]:disabled,
  input[type="url"]:disabled,
  input[type="password"]:disabled,
  input[type="range"]:disabled,
  input[type="color"]:disabled,
  textarea:disabled,
  select:disabled {
    background: #ECEBEB;
    cursor: not-allowed; }

input[type="range"] {
  padding: 6px 0;
  cursor: ew-resize; }

.input-validate[required],
.input-validate:invalid,
.input-validate:valid {
  padding-right: 2.5rem;
  text-overflow: ellipsis;
  overflow: hidden; }

.input-validate:invalid,
.input-validate:valid {
  background-repeat: no-repeat;
  background-size: 0.8rem;
  background-position: right 1rem center; }

.input-validate.textarea[required],
.input-validate.textarea:invalid,
.input-validate.textarea:valid {
  background-position: right 1rem top 1rem; }

.input-validate[required] {
  background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M14.83 9.604L12.06 8l2.77-1.604c.635-.365.854-1.188.49-1.823l-.667-1.146c-.365-.635-1.188-.854-1.823-.49l-2.77 1.594V1.334C10.06.603 9.454 0 8.724 0H7.392C6.662 0 6.06.604 6.06 1.333V4.53L3.287 2.938c-.635-.364-1.458-.145-1.823.49L.798 4.573c-.364.635-.145 1.458.49 1.823L4.058 8 1.29 9.604c-.635.365-.854 1.188-.49 1.823l.667 1.146c.365.635 1.188.854 1.823.49l2.77-1.594v3.197c0 .73.605 1.333 1.334 1.333h1.333c.73 0 1.334-.604 1.334-1.333V11.47l2.77 1.592c.635.365 1.458.146 1.823-.49l.666-1.145c.364-.635.145-1.458-.49-1.823z" fill="#e2525e" fill-rule="evenodd"/></svg>'); }

.input-validate:focus:invalid {
  background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M11.97 10.354c0 .177-.074.354-.2.48l-.937.937c-.125.126-.302.2-.48.2-.176 0-.343-.074-.468-.2L8 9.886 6.115 11.77c-.125.126-.292.2-.47.2-.176 0-.353-.074-.478-.2l-.938-.937c-.126-.125-.2-.302-.2-.48 0-.176.074-.343.2-.468L6.114 8 4.23 6.115c-.126-.125-.2-.292-.2-.47 0-.176.074-.353.2-.478l.937-.938c.125-.126.302-.2.48-.2.176 0 .343.074.468.2L8 6.114 9.885 4.23c.125-.126.292-.2.47-.2.176 0 .353.074.478.2l.938.937c.126.125.2.302.2.48 0 .176-.074.343-.2.468L9.886 8l1.886 1.885c.126.125.2.292.2.47zM16 8c0-4.417-3.583-8-8-8S0 3.583 0 8s3.583 8 8 8 8-3.583 8-8z" fill="#f39c12" fill-rule="evenodd"/></svg>'); }

.input-validate:valid {
  background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M7.135 12.198c-.26.26-.677.26-.937 0l-3.73-3.73c-.26-.26-.26-.676 0-.937l1.063-1.06c.262-.262.678-.262.94 0l2.197 2.197 4.864-4.865c.262-.26.678-.26.94 0l1.06 1.063c.262.26.262.677 0 .937l-6.395 6.396zM16 3c0-1.656-1.344-3-3-3H3C1.344 0 0 1.344 0 3v10c0 1.656 1.344 3 3 3h10c1.656 0 3-1.344 3-3V3z" fill="#6cbc7a" fill-rule="evenodd"/></svg>'); }

.input[novalidate],
.input.novalidate,
.input.hide-validate-icon {
  background-image: none; }

select {
  -webkit-appearance: menulist;
     -moz-appearance: menulist;
          appearance: menulist; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

label,
legend {
  display: block;
  font-weight: bold;
  margin-bottom: 0.8em; }

legend {
  padding: 0 6px; }

fieldset {
  border: 1px solid #CCCCCC;
  padding: 15px;
  background: transparent;
  border-radius: 4px; }

input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.8em; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-right: 0.8em;
  font-weight: bold; }

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  color: lightgray;
  cursor: not-allowed; }

table {
  width: 100%; }

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #CCCCCC; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

table caption {
  text-transform: uppercase;
  color: #888888;
  font-size: 1.2rem;
  text-align: left; }

tbody tr:nth-child(odd) {
  background-color: #f8f8f8; }

tbody tr:hover {
  background-color: #fff4cc; }

.alert {
  padding: 1.4rem;
  margin: 0 0 1.6em 0;
  background: #FAFAFA;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px; }

.alert.primary {
  background: #44CCF7;
  color: #157998; }

.alert.secondary {
  background: #e7e7e7; }

.alert.info {
  background: #D5EAF8;
  color: #1F9FF3; }

.alert.success {
  background: #d5ecd9;
  color: #449754; }

.alert.warning {
  background: #FFE080;
  color: #D05C12; }

.alert.danger {
  background: #f8d5d8;
  color: #c6212f; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  background-color: transparent;
  border-radius: 4px;
  color: #555;
  text-align: center;
  font-size: 0.7rem;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #bbb;
  height: 38px;
  line-height: 38px;
  padding: 0 30px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  white-space: nowrap;
  box-sizing: border-box;
  margin-bottom: 1.6em; }
  .button:hover, .button:focus,
  button:hover,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:focus {
    border: 1px solid #000000;
    color: #000000;
    font-weight: bold;
    outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  border-color: #1EAEDB;
  background-color: #1EAEDB; }
  .button.button-primary:hover, .button.button-primary:focus,
  button.button-primary:hover,
  button.button-primary:focus,
  input[type="submit"].button-primary:hover,
  input[type="submit"].button-primary:focus,
  input[type="reset"].button-primary:hover,
  input[type="reset"].button-primary:focus,
  input[type="button"].button-primary:hover,
  input[type="button"].button-primary:focus {
    background-color: #157998;
    border-color: #157998;
    color: #FFF; }

.button.button-success,
button.button-success,
input[type="submit"].button-success,
input[type="reset"].button-success,
input[type="button"].button-success {
  color: #FFF;
  border-color: #6cbc7a;
  background-color: #6cbc7a; }
  .button.button-success:hover, .button.button-success:focus,
  button.button-success:hover,
  button.button-success:focus,
  input[type="submit"].button-success:hover,
  input[type="submit"].button-success:focus,
  input[type="reset"].button-success:hover,
  input[type="reset"].button-success:focus,
  input[type="button"].button-success:hover,
  input[type="button"].button-success:focus {
    background-color: #449754;
    border-color: #449754;
    color: #FFF; }

.button.button-warning,
button.button-warning,
input[type="submit"].button-warning,
input[type="reset"].button-warning,
input[type="button"].button-warning {
  color: #FFF;
  border-color: #f39c12;
  background-color: #f39c12; }
  .button.button-warning:hover, .button.button-warning:focus,
  button.button-warning:hover,
  button.button-warning:focus,
  input[type="submit"].button-warning:hover,
  input[type="submit"].button-warning:focus,
  input[type="reset"].button-warning:hover,
  input[type="reset"].button-warning:focus,
  input[type="button"].button-warning:hover,
  input[type="button"].button-warning:focus {
    background-color: #D05C12;
    border-color: #D05C12;
    color: #FFF; }

.button.button-danger,
button.button-danger,
input[type="submit"].button-danger,
input[type="reset"].button-danger,
input[type="button"].button-danger {
  color: #FFF;
  border-color: #e2525e;
  background-color: #e2525e; }
  .button.button-danger:hover, .button.button-danger:focus,
  button.button-danger:hover,
  button.button-danger:focus,
  input[type="submit"].button-danger:hover,
  input[type="submit"].button-danger:focus,
  input[type="reset"].button-danger:hover,
  input[type="reset"].button-danger:focus,
  input[type="button"].button-danger:hover,
  input[type="button"].button-danger:focus {
    background-color: #c6212f;
    border-color: #c6212f;
    color: #FFF; }

.button.button-info,
button.button-info,
input[type="submit"].button-info,
input[type="reset"].button-info,
input[type="button"].button-info {
  color: #FFF;
  border-color: #8CCFFB;
  background-color: #8CCFFB; }
  .button.button-info:hover, .button.button-info:focus,
  button.button-info:hover,
  button.button-info:focus,
  input[type="submit"].button-info:hover,
  input[type="submit"].button-info:focus,
  input[type="reset"].button-info:hover,
  input[type="reset"].button-info:focus,
  input[type="button"].button-info:hover,
  input[type="button"].button-info:focus {
    background-color: #1F9FF3;
    border-color: #1F9FF3;
    color: #FFF; }

.card {
  background: #FAFAFA;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #CCCCCC; }
  .card header {
    background: #DDDDDD;
    padding: 1rem;
    border-bottom: 1px solid #CCCCCC; }
  .card .card-content {
    padding: 1rem; }
  .card footer {
    background: #DDDDDD;
    padding: 1rem;
    border-top: 1px solid #CCCCCC; }

progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ECEBEB;
  width: 100%;
  height: 0.8em;
  margin-bottom: 1.6em;
  border: 1px solid #CCCCCC;
  border-radius: 4px; }

progress::-webkit-progress-bar {
  background-color: #ECEBEB;
  border-radius: 4px; }

progress::-webkit-progress-value {
  background: #1EAEDB;
  border-radius: 4px; }

progress::-moz-progress-bar {
  background: #1EAEDB;
  border-radius: 4px; }

.loading-indicator {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0 auto;
  background-color: #1EAEDB;
  -webkit-animation: loading-indicator-scaleout 1.0s infinite ease-in-out;
          animation: loading-indicator-scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes loading-indicator-scaleout {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes loading-indicator-scaleout {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

.label {
  padding: 0.2em 0.5rem;
  font-size: 75%;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  border-radius: 4px;
  vertical-align: baseline;
  background: #666666;
  color: white; }

.label-primary {
  background: #1EAEDB; }

.label-secondary {
  background: #e7e7e7; }

.label-success {
  background: #6cbc7a; }

.label-warning {
  background: #f39c12; }

.label-danger {
  background: #e2525e; }

.label-info {
  background: #8CCFFB; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background: #1EAEDB; }

::-webkit-scrollbar-track {
  background: slategray; }

body {
  scrollbar-face-color: #1EAEDB;
  scrollbar-track-color: slategray; }

.example .row,
.example .rowcolumn {
  background: lightgray;
  margin-bottom: 15px; }

.grid-example {
  background: tomato;
  text-align: center;
  border-radius: 4px;
  font-size: 1.6rem;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px; }

.color-example {
  padding: 30px;
  width: 16.6666666667%;
  float: left;
  text-align: center; }

.example-primary-light {
  background: #44CCF7; }

.example-secondary-light {
  background: #ECEBEB; }

.example-success-light {
  background: #d5ecd9; }

.example-warning-light {
  background: #FFE080; }

.example-danger-light {
  background: #f8d5d8; }

.example-info-light {
  background: #D5EAF8; }

.example-primary {
  background: #1EAEDB; }

.example-secondary {
  background: #e7e7e7; }

.example-success {
  background: #6cbc7a; }

.example-warning {
  background: #f39c12; }

.example-danger {
  background: #e2525e; }

.example-info {
  background: #8CCFFB; }

.example-primary-dark {
  background: #157998; }

.example-secondary-dark {
  background: #C5C5C5; }

.example-success-dark {
  background: #449754; }

.example-warning-dark {
  background: #D05C12; }

.example-danger-dark {
  background: #c6212f; }

.example-info-dark {
  background: #1F9FF3; }
