// ------------------------------------------------
//  MAIN.SCSS:
//
//  All elements, imports, the whole shebang:
//  Comment out what isn't needed
// ------------------------------------------------

// Helpers
@import "helpers/_variables.scss";
@import "helpers/_mixins.scss";

// Base
@import "base/_normalize.scss";
@import "base/_typography.scss";

// Layout
@import "layout/_grid.scss";
@import "layout/_forms.scss";
@import "layout/_tables.scss";

// Components:
@import "components/_buttons.scss";
@import "components/_panels.scss";
@import "components/_alerts.scss";



// DEMO:

.example-grid .column, .example-grid .columns {
    background: #EEE;
    text-align: center;
    border-radius: $global-radius;
    font-size: 1rem;
    text-transform: uppercase;
    // height: 30px;
    line-height: 30px;
    // margin-bottom: .75rem;
    font-weight: 600;
    letter-spacing: .1rem;
    font-family: Helvetica;
}


.row {
    background-color: yellow;
}
.column,
.columns {
    background-color: red;
}
