// ------------------------------------------------
//  MAIN.SCSS:
//
//  All elements, imports, the whole shebang:
// ------------------------------------------------

// Helpers
@import "helpers/_variables.scss";
@import "helpers/_mixins.scss";

// Base
@import "base/_normalize.scss";
@import "base/_typography.scss";
@import "base/_media.scss";
@import "base/utilityclasses.scss";

// Layout
@import "layout/_grid.scss";
@import "layout/_forms.scss";
@import "layout/_tables.scss";

// Components:
@import "components/_buttons.scss";
@import "components/_panels.scss";
@import "components/_alerts.scss";
@import "components/_navigation.scss";




// ------------------------------------------------
// DEMO / DEBUG:
// ------------------------------------------------

/*
.example .column,
.example .columns {
    background: lightgray;
    text-align: center;
    border-radius: $global-radius;
    font-size: 1.6rem;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    margin-bottom: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    font-family: Helvetica;
    border: 1px solid black;
}

.example .column:hover,
.example .columns:hover {
    background-color: lightyellow;
}
*/
