// Forms
// ------------------------------------------------


/// Set background color of forms
/// @type Color
$form-bg: transparent!default;

/// Set color of inputs etc
/// @type Color
$form-element-bg: white!default;

/// Rounds corners of form elements
/// @type Boolean
$form-radius: true!default;

/// Rounds corners of fieldsets
/// @type Boolean
$fieldset-radius: true!default;

/// Sets the background color of fieldsets
/// @type Color
$fieldset-bg: transparent!default;

/// Set the font weight of labels and legends
/// @type String
$label-font-weight: bold!default;



form {
    background: $form-bg;
}

/* Removes awkard default styles on some inputs */
input[type="email"],
input[type="search"],
input[type="text"],
textarea {
    appearance: none;
}


input[type="search"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="date"],
// input[type="datetime"], // Removed from HTML Standards
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="url"],
input[type="password"],
input[type="range"],
input[type="color"],
textarea,
select {
    border: 1px solid $border-color;
    min-height: 36px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    box-shadow: none;
    background: $form-element-bg;
    width: 100%;
    margin-bottom: $line-height;

    @if $form-radius {
        border-radius: $global-radius;
    }

    &:focus {
        border: 1px solid palette(primary);
        outline: 0;
    }

    &:disabled {
        background: palette(secondary, light);
        cursor: not-allowed;
    }

}

input[type="range"] {
    padding: 6px 0;
    cursor: ew-resize;
}


select {
    appearance: menulist;
}


textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}



label,
legend {
    display: block;
    font-weight: $label-font-weight;
    margin-bottom: $line-height/2;
}

legend {
    padding: 0 6px;
}

fieldset {
    border: 1px solid $border-color;
    padding: 15px;
    background: $fieldset-bg;

    @if $fieldset-radius {
        border-radius: $global-radius;
    }
}

// Radio Buttons & Checkboxes

// Add margin to r/h side of checkbox/radio button:
input[type="checkbox"],
input[type="radio"] {
    margin-right: $line-height/2;
}

// Unchecked:
input[type="checkbox"] + label,
input[type="radio"] + label {
    display:inline-block;
    margin-right: $line-height/2;
    font-weight: $label-font-weight;
}

// Checked
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
}

// Disabled
input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
    color: lightgray;
    cursor: not-allowed;
}