// Forms
// ------------------------------------------------


input[type="email"],
input[type="search"],
input[type="text"],
input[type="password"],
textarea,
select {
    border: 1px solid $border-color;
    height: 36px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    border-radius: $global-radius;
    box-shadow: none;
    background: #fff;
    width: 100%;
    margin-bottom: $line-height;
}

/* Removes awkard default styles on some inputs */
input[type="email"],
input[type="search"],
input[type="text"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid palette(primary);
    outline: 0;
}

label,
legend {
    display: block;
    // font-weight: 600;
    // margin-bottom: .5rem;
    margin-bottom: $line-height/2;

    &:disabled {color:red;}
}

fieldset {
    border-width: 0;
    padding: 0;
}

// Radio Buttons & Checkboxes
input[type="checkbox"],
input[type="radio"] {
    margin-right: $line-height/2;
}

// input:disabled {}

input[type="checkbox"] + label,
input[type="radio"] + label {
    color: blue;
    display:inline-block;
    margin-right: $line-height/2;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
    color: green;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
    color: red;
    cursor: not-allowed;
}

.radio-inline,
.checkbox-inline {
    position: relative;
    display: inline-block;
    padding-right: $line-height;
    margin-bottom: 0;
    vertical-align: middle;
}