/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// Mobile First:

.container {
  position: relative;
  width: 80%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0;
  }
.container .column,
.container .columns {
  float: left;
  width: 100%;
  box-sizing: border-box; }
.row {
  margin-bottom: $row-space; }
.row .column:first-child,
.row .columns:first-child {
  margin-left: 0; }

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container .column,
  .container .columns {
    margin-left: $column-margin;
    // padding: $column-padding;
    @if $column-padding {
        padding: $column-padding;
    };
  }

  .container .one.column,
  .container .one.columns          { width: $column-width * 1 - ( $column-margin / 2 );  }
  .container .two.columns          { width: $column-width*2-($column-margin/2);  }
  .container .three.columns        { width: $column-width*3-($column-margin/2);  }
  .container .four.columns         { width: $column-width*4-($column-margin/2);  }
  .container .five.columns         { width: $column-width*5-($column-margin/2);  }
  .container .six.columns          { width: $column-width*6-($column-margin/2);  }
  .container .seven.columns        { width: $column-width*7-($column-margin/2);  }
  .container .eight.columns        { width: $column-width*8-($column-margin/2);  }
  .container .nine.columns         { width: $column-width*9-($column-margin/2);  }
  .container .ten.columns          { width: $column-width*10-($column-margin/2); }
  .container .eleven.columns       { width: $column-width*11-($column-margin/2); }
  .container .twelve.columns       { width: 100%; margin-left: 0; }

  .container .one-third.column     { width: $column-width*4-($column-margin/2);  }
  .container .two-thirds.column    { width: $column-width*8-($column-margin/2);  }

  .container .one-half.column      { width: $column-width*6-($column-margin/2);  }

  /* Offsets */
  .container .offset-by-one.column,
  .container .offset-by-one.columns       { margin-left: $column-width*1-($column-margin/2);  }
  .container .offset-by-two.column        { margin-left: $column-width*2-($column-margin/2);  }
  .container .offset-by-three.column      { margin-left: $column-width*3-($column-margin/2);  }
  .container .offset-by-four.column       { margin-left: $column-width*4-($column-margin/2);  }
  .container .offset-by-five.column       { margin-left: $column-width*5-($column-margin/2);  }
  .container .offset-by-six.column        { margin-left: $column-width*6-($column-margin/2);  }
  .container .offset-by-seven.column      { margin-left: $column-width*7-($column-margin/2);  }
  .container .offset-by-eight.column      { margin-left: $column-width*8-($column-margin/2);  }
  .container .offset-by-nine.column       { margin-left: $column-width*9-($column-margin/2);  }
  .container .offset-by-ten.column        { margin-left: $column-width*10-($column-margin/2); }
  .container .offset-by-eleven.column     { margin-left: $column-width*11-($column-margin/2); }

  .container .offset-by-one-third.column  { margin-left: $column-width*4-($column-margin/2); }
  .container .offset-by-two-thirds.column { margin-left: $column-width*8-($column-margin/2); }

  .container .offset-by-one-half.column   { margin-left: $column-width*1-($column-margin/2); }

}





// Centered Columns:
  .container .column.centered  { margin: 0 auto; float: none;}


/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}

