// ------------------------------------------------
// TABLES:
//
// ------------------------------------------------

////
/// Tables
/// @group tables
////

/// Table Caption Color
/// @type Color
$table-caption-color: $root-color !default;

/// Table Row Striping
/// @type Boolean
$table-row-striping: true !default;

/// Table Row Striping BG Color
/// @type Color
$table-row-striping-bg: #f9f9f9 !default;


/// Table Row Hover
/// @type Boolean
$table-row-hover: true !default;

/// Table Row Hover Color
/// @type Color
$table-row-hover-bg: palette(info, light) !default;

@mixin tables {

    table {
        width: 100%;
        // border: $border;
    }

    th,
    tf {
        font-family: $font-stack-header;
        font-size: $small-size;
        text-transform: uppercase;
    }

    th,
    td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid $border-color;
    }

    th:first-child,
    td:first-child {
        padding-left: 0;
    }

    th:last-child,
    td:last-child {
        padding-right: 0;
    }

    // Table Caption:
    table caption {
        font-family: $font-stack-header;
        text-transform: uppercase;
        color: $table-caption-color;
        // font-size: 1.2rem;
        text-align: left;
    }


    // Table Row Striping:
    @if $table-row-striping {
        tbody tr:nth-child(odd) {
            background-color: $table-row-striping-bg;
        }
    }

    // Table Row Hover:
    @if $table-row-hover {
        tbody tr:hover {
            background-color: $table-row-hover-bg;
        }
    }

}

@mixin sk-tables {
    @include tables;
}