// ------------------------------------------------
// MEDIA:
//
// Images, Video, Embeds etc
// ------------------------------------------------

////
/// Media
/// @group media
////

@mixin images {

    img {
      max-width: 100%;
      height: auto;
    }

}

@mixin figures {

    figure {
        margin-bottom: $line-height;
    }

    figcaption {
        margin: .3rem 0;
        font-size: $small-size;
        font-style: italic;
    }

}

@mixin imagethumbs {

    // Image Thumbnails:
    .th {
        line-height: 0;
        display: inline-block;
        border: solid 4px transparent;
        max-width: 100%;
        box-shadow: 0 0 0 1px $border-color;
    }

    .th:hover,
    .th:focus {
        box-shadow: 0 0 0 1px palette(primary);
    }

}

@mixin sk-media {
    @include images;
    @include figures;
    @include imagethumbs;
}