// ------------------------------------------------
// ACCORDIONS:
//
// ------------------------------------------------

////
/// Accordions
/// @group accordions
////

/// Set content of accordion show
/// @type String
$accordion-show-content: "+" !default;

/// Set content of accordion hide
/// @type String
$accordion-hide-content: "-" !default;



@mixin accordions {

    .accordion {}

    .accordion-panel-toggle {
        cursor: pointer;
        color: palette(primary);

        &:after {
            padding-left: 1rem;
            content: $accordion-show-content;
            float: right;
        }

        &:hover {
            color: palette(primary, dark);
        }

    }

    .accordion-panel-toggle-active {
        &:after {
            content: $accordion-hide-content;
        }
    }

    .accordion-panel {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: opacity 1s ease;
    }

    .accordion-panel-active {
        max-height: 500px;
        opacity: 1;
    }

}


@mixin sk-accordions {
    @include accordions;
}