// ------------------------------------------------
// ALERTS:
//
// ------------------------------------------------

////
/// Alerts
/// @group alerts
////

/// Set border on alerts
/// @type Boolean
$alert-border: false!default;

/// Use Rounded alerts
/// @type Boolean
$alert-radius: true!default;



.alert {
    padding: 1.4rem;
    margin: 0 0 1rem 0;


    background: $ghost;
    font-family: $font-stack-header;
    font-size: 1rem;
    font-weight: 600;

        @if $alert-border {
            border: 1px $jumbo solid;
        }

        @if $alert-radius {
            border-radius: $global-radius;
        }
}

.alert.primary {
    background: palette(primary, light);
    color: palette(primary, dark);

        @if $alert-border {
            border: 1px #c5d7e3 solid;
        }
}

.alert.secondary {
    background: palette(secondary);

        @if $alert-border {
            border: 1px darken($secondary-color, 65%) solid;
        }
}

.alert.info {
    background: palette(info, light);
    color: palette(info, dark);

        @if $alert-border {
            border: 1px darken($info-color, 65%) solid;
        }
}

.alert.success {
    background: palette(success, light);
    color: palette(success, dark);

        @if $alert-border {
            border: 1px darken($success-color, 65%) solid;
        }
}

.alert.warning {
    background: palette(warning, light);
    color: palette(warning, dark);

        @if $alert-border {
            border: 1px darken($warning-color, 65%) solid;
        }

}

.alert.danger {
    background: palette(danger, light);
    color: palette(danger, dark);

        @if $alert-border {
            border: 1px darken($danger-color, 65%) solid;
        }
}



// Alert Hover States:
// ------------------------------------------------
.alert:hover {
    -webkit-filter: brightness(95%);
    border-right: 25px solid $iron;
}