// ------------------------------------------------
// BREADCRUMBS:
//
// ------------------------------------------------

// Breadcrumb Variables:

/// Define size of breadcrumb elements
/// @type Number
$breadcrumb-size: $small-size!default;

/// Do you want a radius on the breadcrumb background
/// @type Boolean
$breadcrumb-radius: true;

/// Define color of breadcrumb background
/// @type Color
$breadcrumb-bg-color: palette(secondary, light);

/// Define color of breadcrumb seperators
/// @type Color
$breadcrumb-seperator-color: #ccc;

/// Define color of active breadcrumb elements
/// @type Color
$breadcrumb-active-color: #777;

/// Set the breadcrumb seperator
/// @type String
$breadcrumb-seperator: ">";



@mixin breadcrumb {}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: $line-height;
    list-style: none;
    background-color: $breadcrumb-bg-color;
    font-size: $breadcrumb-size;

    @if $breadcrumb-radius {
        border-radius: $global-radius;
    }
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: $breadcrumb-seperator-color;
    content: $breadcrumb-seperator;
}

.breadcrumb > .active {
    color: $breadcrumb-active-color;
}