// ------------------------------------------------
// BUTTONS:
//
// ------------------------------------------------

// Basic Buttons
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    font-family: $font-stack-header;
    display: inline-block;
    background-color: transparent;
    @if $button-radius {
        border-radius: $global-radius;
    }
    color: #555;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #bbb;
    height: 38px;
    line-height: 38px;
    padding: 0 30px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    white-space: nowrap;
    box-sizing: border-box;
    margin-bottom: 1.6rem; // BOTTOM MARGIN?
}

// Hover + Focus States
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    border-color: #888;
    color: #333;
    outline: 0;
}

// Primary Button
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    border-color: $primary-color;
    background-color: $primary-color;
}

// Primary Button Hover
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    background-color: darken($primary-color, 15);
    border-color: darken($primary-color, 15);
    color: #FFF;
}