// ------------------------------------------------
// BUTTONS:
//
// ------------------------------------------------

////
/// Buttons
/// @group buttons
////

/// Use Rounded buttons
/// @type Boolean
$button-radius: true!default;

// Success button color
/// @type Color
$button-success-color: palette(success)!default;

/// Warning button color
/// @type Color
$button-warning-color: palette(warning)!default;

/// Info button color
/// @type Color
$button-info-color: palette(info)!default;

/// Danger button color
/// @type Color
$button-danger-color: palette(danger)!default;


// Basic Buttons
@mixin button {

    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        font-family: $font-stack-header;
        display: inline-block;
        background-color: transparent;
        @if $button-radius {
            border-radius: $global-radius;
        }
        color: #555;
        text-align: center;
        font-size: 0.7rem;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #bbb;
        height: 38px;
        line-height: 38px;
        padding: 0 30px;
        letter-spacing: .1rem;
        text-transform: uppercase;
        white-space: nowrap;
        box-sizing: border-box;
        margin-bottom: $line-height;

        &:hover,
        &:focus {
            border: 1px solid #000000;
            color: #000000;
            font-weight: bold;
            outline: 0;
        }
    }

}

// Primary Button
@mixin button-primary {

    .button.button-primary,
    button.button-primary,
    input[type="submit"].button-primary,
    input[type="reset"].button-primary,
    input[type="button"].button-primary {
        color: #FFF;
        border-color: palette(primary);
        background-color: palette(primary);

        &:hover,
        &:focus {
            background-color: palette(primary, dark);
            border-color: palette(primary, dark);
            color: #FFF;
        }

    }

}


// Success Button
@mixin button-success {

    .button.button-success,
    button.button-success,
    input[type="submit"].button-success,
    input[type="reset"].button-success,
    input[type="button"].button-success {
        color: #FFF;
        border-color: palette(success);
        background-color: palette(success);

        &:hover,
        &:focus {
            background-color: palette(success, dark);
            border-color: palette(success, dark);
            color: #FFF;
        }

    }
}



// Warning Button
@mixin button-warning {

    .button.button-warning,
    button.button-warning,
    input[type="submit"].button-warning,
    input[type="reset"].button-warning,
    input[type="button"].button-warning {
        color: #FFF;
        border-color: palette(warning);
        background-color: palette(warning);

        &:hover,
        &:focus {
            background-color: palette(warning, dark);
            border-color: palette(warning, dark);
            color: #FFF;
        }

    }

}

// Danger Button
@mixin button-danger {

    .button.button-danger,
    button.button-danger,
    input[type="submit"].button-danger,
    input[type="reset"].button-danger,
    input[type="button"].button-danger {
        color: #FFF;
        border-color: palette(danger);
        background-color: palette(danger);

        &:hover,
        &:focus {
            background-color: palette(danger, dark);
            border-color: palette(danger, dark);
            color: #FFF;
        }

    }

}

// Info Button
@mixin button-info {

    .button.button-info,
    button.button-info,
    input[type="submit"].button-info,
    input[type="reset"].button-info,
    input[type="button"].button-info {
        color: #FFF;
        border-color: palette(info);
        background-color: palette(info);

        &:hover,
        &:focus {
            background-color: palette(info, dark);
            border-color: palette(info, dark);
            color: #FFF;
        }

    }

}


// Pregenerated style export:
@mixin sk-buttons {

    @include button;
    @include button-primary;
    @include button-success;
    @include button-warning;
    @include button-danger;
    @include button-info;

}