// ------------------------------------------------
//  DROPDOWNS.SCSS:
//
//
// ------------------------------------------------

////
/// Dropdowns
/// @group dropdowns
////

/// Set min-width of dropdown
/// @type Number
$dropdown-menu-min-width: 160px !default;

/// Set text color of dropdown
/// @type Color
$dropdown-link-color: white !default;

/// Set background color of dropdown
/// @type Color
$dropdown-menu-bg: palette(primary, dark) !default;

/// Set background hover color of dropdown
/// @type Color
$dropdown-menu-hover-bg: palette(primary, light) !default;

/// Set padding on active dropdown links
/// @type Number
$dropdown-menu-link-padding: $line-height/2 !default;


@mixin dropdown {

    .dropdown-menu ul {
        padding: 0;
        margin: 0;

    }

    .dropdown-menu li {
        display: inline-block;
        position: relative;
        padding: 0;
        margin: 0;
    }
        .dropdown-menu-toggle a {
            background: palette(primary);
            text-decoration: none;
            color: $dropdown-link-color;
        }
            .dropdown-menu-toggle > a:after {
                padding-left: 1rem;
                content: '▾';
                float: right;
            }


    .dropdown-menu a {
        display: block;
        padding: $dropdown-menu-link-padding;
    }


    // The menu items that actually drop down:
    .dropdown-menu-content {
        position: absolute;
        display: none;
        z-index: map-get($zindex, dropdown);
        width: 100%;
    }
        .dropdown-menu-content li {
            display: block;
            min-width: $dropdown-menu-min-width;
            border-top: 1px solid $border-color;
        }
            .dropdown-menu-content a {
                background: $dropdown-menu-bg;
            }

            .dropdown-menu-content a:hover {
                background: $dropdown-menu-hover-bg;
            }
                .dropdown-menu-content.active {
                    display: block;
                }


}

@mixin sk-dropdown {
    @include dropdown;
}