// ------------------------------------------------
//  INDICATORS.SCSS:
//
// ------------------------------------------------


progress {
    appearance: none;
    background-color: palette(secondary, light);
    border: 1px solid $border-color;
    width: 100%;
    height: 16px;
    border-radius: $global-radius;
    margin-bottom: $line-height;
}
progress::-webkit-progress-bar {
    background-color: palette(secondary, light);
    border-radius: $global-radius;
}
progress::-webkit-progress-value {
    background: palette(primary);
    border-radius: $global-radius;
}
progress::-moz-progress-bar {
    background: palette(primary);
    border-radius: $global-radius;
}