// ------------------------------------------------
// LABELS:
//
// ------------------------------------------------

////
/// @group labels
////

/// Default background color for labels.
/// @type Color
$label-background: $steel!default;

/// Default text color for labels.
/// @type Color
$label-color: white!default;

/// Default font size for labels.
/// @type Number
$label-font-size: 75% !default;

/// Default padding inside labels.
/// @type Number
$label-padding: 0.2em 0.5rem !default;

/// Default radius of labels.
/// @type Number
$label-radius: $global-radius !default;



/// Generates base styles for a label.
@mixin labelbase {
    // display: inline-block;
    padding: $label-padding;
    font-size: $label-font-size;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    border-radius: $label-radius;
    vertical-align: baseline;
}

@mixin label {
    .label {
        @include labelbase;

        background: $label-background;
        color: $label-color;
    }
}

// Modifiers:
@mixin label-primary {
    .label-primary      {background: palette(primary);}
}
@mixin label-secondary {
    .label-secondary    {background: palette(secondary);}
}
@mixin label-success {
    .label-success      {background: palette(success);}
}
@mixin label-warning {
    .label-warning      {background: palette(warning);}
}
@mixin label-danger {
    .label-danger       {background: palette(danger);}
}
@mixin label-info {
    .label-info         {background: palette(info);}
}


@mixin sk-labels {
    @inclde labelbase;
    @include label;
    @include label-primary;
    @include label-secondary;
    @include label-success;
    @include label-warning;
    @include label-danger;
    @include label-info;
}
