// ------------------------------------------------
//  NAVBAR.SCSS:
//
//
// ------------------------------------------------

////
/// The navbar provides a navigation bar used for primary navigation at the top of the screen
/// @group navbar
////

/// Set height of main navbar
$navbar-height: 60px!default;

/// Set the font for the navbar
$navbar-font-stack: $font-stack-header!default;

/// Set the font size of the navbar
$navbar-font-size: 16px!default;

/// Define the color of links on the navbar
$navbar-link-color: black!default;

/// Set the background color of the navbar
$navbar-bg: #efefef!default;

/// Set the background hover color of navbar links
$navbar-bg-hover: #cccccc!default;

/// Set the color of the .current-menu-item link
$navbar-current-bg: #dddddd!default;





.navbar {
    background: $navbar-bg;
    font-family: $navbar-font-stack;
}

.navbar ul {
    margin: 0;
    list-style: none;
}

.navbar a {
    display: block;
    color: $navbar-link-color;
    text-decoration:none;
    font-size: $navbar-font-size;
    line-height: $navbar-height;

    width: 100%;
    border-top: 1px solid red;
}

.navbar .has-dropdown > a:after {
    content: "+";
    padding-left: 10px;
    float: right;
}

.navbar ul li.current-menu-item {
    background: $navbar-current-bg;
}

.navbar ul li:hover {
    background: $navbar-bg-hover;
}

.navbar ul ul {
    visibility: hidden;

    position: absolute;
    top: 100%;

    right: 0; // Direction of dropdown relative to parent

    background:#fff;
    padding: 0;
}

.navbar ul ul li {
    float: none;
    min-width: 200px;
    white-space: nowrap;
    background: $navbar-bg;
}

.navbar ul ul a {
    line-height: 120%;
}

.navbar ul ul ul {
    top: 0;
    left: 100%
}

.navbar ul li:hover > ul {
    visibility: visible;
}











@include breakpoint(medium) {

    .navbar-right {
        float: right;
    }

    .navbar a {
        display: block;
        color: $navbar-link-color;
        text-decoration:none;
        font-size: $navbar-font-size;
        line-height: $navbar-height;;
        padding: 0 15px;
    }


    .navbar .has-dropdown > a:after {
        content: "+";
        padding-left: 10px;
        float: right;
    }

    .navbar ul li {
        position: relative;
        float: left;
        margin: 0;
        padding: 0;
    }

    .navbar ul li.current-menu-item {
        background: $navbar-current-bg;
    }

    .navbar ul li:hover {
        background: $navbar-bg-hover;
    }

    .navbar ul ul {
        // Use 'visibility', as display can't be transitioned
        visibility: hidden;
        transition: 0.4s ease;

        position: absolute;
        top: 100%;

        right: 0; // Direction of dropdown relative to parent

        background:#fff;
        padding: 0;
    }

    .navbar ul ul li {
        float: none;
        min-width: 200px;
        white-space: nowrap;
        background: $navbar-bg;
    }

    .navbar ul ul a {
        line-height: 120%;
        padding: 10px 15px;
    }

    .navbar ul ul ul {
        top: 0;
        left: 100%
    }

    .navbar ul li:hover > ul {
        // Use 'visibility', as display can't be transitioned
        visibility: visible;
        transition-delay: 0.4s;
    }

}
