// ------------------------------------------------
// NAVIGATION:
//
// Top Bar Menu
// ------------------------------------------------


// Vars:
// ------------------------------------------------
// $top-menu-height:       50px;
// $top-menu-font-size:    1.5rem;
// $top-menu-bg:           $snow;
// $toggle-menu-bg:        $jet;
// $top-menu-link-color:   $primary-color;




// Top Nav Menu:
// ------------------------------------------------

.top-menu {

    background: $top-menu-bg;
    border-bottom: 1px solid $border-color;
    margin-bottom: 2rem;
    min-height: $top-menu-height;
    line-height: $top-menu-height;

    ul,
    li {
        margin: 0;
    }


    .nav {
        list-style: none;
         *zoom: 1;
    }
    .nav:before,
    .nav:after {
        content: " ";
        display: table;
    }
    .nav:after {
        clear: both;
    }

    .nav ul {
        list-style: none;
        white-space: nowrap;
    }
    .nav a {
        padding: 10px 15px;
        color: $top-menu-link-color;
        text-decoration: none;
        text-transform: $top-menu-text-transform;
    }

    // .nav a:hover {
    //     background: red;
    // }

    .nav li {
        position: relative;
        // min-height: $top-menu-height;
    }
    .nav > li {
        float: left;
        // border-top: 1px solid $border-color;
    }
    .nav > li:hover {
        background: $top-menu-hover-bg;
        // transition: all 0.5s ease;
    }
    .nav > li > .parent {
        // background-image: url("images/downArrow.png");
        // background-repeat: no-repeat;
        // background-position: right;
    }
        .nav > li > .parent:after {
            content: " ▸";
        }

    .nav > li > a {
        display: block;
        font-size: $top-menu-font-size;
    }
    .nav li ul {
        position: absolute;
        left: -9999px;
        // transition: all 0.25s ease; // TRANSITION
    }


    .nav > li.hover > ul {
        left: 0;
    }

    .nav li li.hover ul {
        left: 100%;
        top: 0;
    }
    .nav li li a {
        display: block;
        background: $top-menu-hover-bg;
        position: relative;
        z-index:100;
        border-top: 1px solid $border-color;
        font-size: $top-menu-font-size;
    }
    .nav li li li a {
        background: $top-menu-hover-bg-l3;
        z-index:200;
        border-top: 1px solid $border-color;
        font-size: $top-menu-font-size;
    }

    @include tablet-portrait-and-below {

        .active {
            display: block;
        }
        .nav > li {
            float: none;
        }
        .nav > li > .parent {
            background-position: 95% 50%;
        }
        .nav li li .parent {
            // background-image: url("images/downArrow.png");
            // background-repeat: no-repeat;
            // background-position: 95% 50%;
        }
            .nav li li .parent:after {
            content: " ▸";
            }

        .nav ul {
            display: block;
            width: 100%;
        }
       .nav > li.hover > ul , .nav li li.hover ul {
            position: static;
        }

    } // END Media Query

} // END



// Top Menu Contained to row width
// ------------------------------------------------

.top-menu-contained {
    @include tablet-portrait-and-up {
        width: 100%;
        margin: 0 auto;
        max-width: $row-width;
    }
}


// Top Menu Toggle for Mobile
// ------------------------------------------------

.toggleMenu {
    display:  none;
    background: $toggle-menu-bg;
    padding: 10px 15px;
    color: #fff;
    width: 100%;
}

a.toggleMenu {
    text-decoration: none;
}




// ------------------------------------------------
// NEW STUFF:
// ------------------------------------------------


/* Menu style */

ul.top-nav-menu{
    margin: 0 auto;
    padding: 0px 10px;
    width: 960px;
    background: #eee;
    height: 50px;
    font-size: 14px;

    /*  Dropdown shadow */
    /*
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
    */
}

ul.top-nav-menu li{
    list-style: none;
    float: left;
    padding: 0px 0px;
    margin: 0px 0px;
    line-height: 50px;
    display: block;
    position: relative;
    text-transform: uppercase;
}

ul.top-nav-menu li a{
    color: darkblue;
    padding: 0px 15px;
    margin: 0px 0px;
    display: block;
}

ul.top-nav-menu li:hover{
    background: #ddd;
}

.top-nav-menu ul.submenu{
    min-width: 180px;
    padding: 0px 0px;
    margin: 0px;
    background: #ddd;
    position: absolute;
    top:50px;
    left:0px;
    display:none;

    /*  Dropdown shadow */
    /*
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
    */
}

.top-nav-menu ul.submenu ul{
    position: absolute;
    left: 100%;
    top:0;
    background: #ccc;
}

.top-nav-menu ul.submenu li{
    padding: 0px;
    margin: 0px;
    display: block;
    float: none;
    border-bottom: 1px solid #eee;
    line-height: 40px;
    text-transform: none;
}

.top-nav-menu ul.submenu li:last-child{
    border: none;
}


/* Add arrows */

ul.top-nav-menu li.parent a{
    padding: 0px 20px 0px 15px;
}

ul.top-nav-menu li.parent:after{
    /*
    font-family: 'Fontawesome';
    content:"\f0d7";
    color:#999;
    position: absolute;
    right: 5px;
    top:0px;
    margin-left: 5px;
    */
    content: " ▸";
    color:#999;
    position: absolute;
    right: 5px;
    top:0px;
    margin-left: 5px;
}

ul.top-nav-menu ul li.parent:after{
    font-family: 'Fontawesome';
    content: "\f0da";
    color:#999;
    position: absolute;
    right: 10px;
    top:0px;
    margin-left: 5px;
}



/* Hover Animation Stuff */

.top-nav-menu li:hover > ul{
    display:block;
    -moz-animation: fadeInDown .3s ease-in ;
    -webkit-animation: fadeInDown .3s ease-in ;
    animation:fadeInDown .3s ease-in ;
}

.top-nav-menu ul li:hover > ul{
    display:block;
    -moz-animation: fadeInLeft .3s ease-in ;
    -webkit-animation: fadeInLeft .3s ease-in ;
    animation:fadeInLeft .3s ease-in ;
}

/* Animation: */

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
