// ------------------------------------------------
//  NAVBARMULTILEVEL.SCSS:
//
//
// ------------------------------------------------

////
/// The navbar provides a navigation bar used for primary navigation at the top of the screen
/// @group navbar
////

/// Set height of main navbar
$navbar-height: 60px!default;

/// Set dropdown height of main navbar
$navbar-dd-height: 40px!default;

/// Set the font for the navbar
$navbar-font-stack: $font-stack-header!default;

/// Set the font size of the navbar
$navbar-font-size: 16px!default;

/// Define the color of links on the navbar
$navbar-link-color: black!default;

/// Set the background color of the navbar
$navbar-bg: #efefef!default;

/// Set the background hover color of navbar links
$navbar-bg-hover: #cccccc!default;

/// Set the text hover color of navbar links
$navbar-link-hover-color: red!default;

/// Set the color of the .current-menu-item link
$navbar-current-bg: #dddddd!default;

/// Set the bg color of the mobile nav toggle
$navbar-mobile-nav-toggle-bg: palette(primary)!default;

/// Set the color of the mobile nav toggle
$navbar-mobile-nav-toggle-color: white!default;



@mixin navbar {

    // Container with no padding for navbar
    .navbar-container {
        @include clearfix;
        border-bottom: $border;
    }

    // Outer navigation wrapper
    .navbar {
        height: $navbar-height;
        background: $navbar-bg;
        margin-bottom: $line-height*2;
    }

    // Logo and branding, on l/h side of navbar
    .branding {
        position: absolute;
        float: left;
        line-height: $navbar-height;


        a,
        a:visited {
            color: $navbar-link-color;
            text-decoration: none;
        }
    }


    // Navigation links, on r/h side of navbar
    .navbar nav {

        float: right;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                float: left;
                position: relative;
                padding: 0;
                margin: 0;

                a,
                a:visited {
                    display: block;
                    padding: 0 20px;
                    line-height: $navbar-height;
                    background: $navbar-bg;
                    color: $navbar-link-color;
                    text-decoration: none;

                    &:hover {
                        background: $navbar-bg-hover;
                        color: $navbar-link-color;
                    }

                    &:not(:only-child):after {
                        padding-left: 4px;
                        content: '▾';
                    }

                } // Dropdown list

                ul li {
                    min-width: 200px;
                    a {
                        padding: 0 20px;
                        line-height: $navbar-dd-height;
                    }
                }

            }
        }
    }

    // ------------------------------------------------
    // Mobile navigation
    // ------------------------------------------------

     // Binds to JS Toggle
     #nav-toggle {
        line-height: $navbar-height;
        text-decoration: none;
    }

    .nav-mobile {
        display: none;

        a {
            color: $navbar-mobile-nav-toggle-color;
            padding: 0 1rem;
            position: absolute;
            top: 0;
            right: 0;
            background: $navbar-mobile-nav-toggle-bg;
            height: $navbar-height;
        }
    }


    @include breakpoint(small only) {
        // Nav Text visible on mobile only
        .nav-mobile {
            display: block;
        }

        .navbar nav {
            width: 100%;
            padding-top: $navbar-height;

            ul {
                display: none;

                li {
                    float: none;
                    border-top: $border;

                    a {
                        padding: 15px;
                        line-height: 20px;
                    }

                    ul li a {
                        padding-left: 30px;
                    }
                }
            }
        }

        // Push menu items down with position:relative
        .navbar .dropdown-menu-content {
            position: relative;
        }

        .nav-list {
            &.active {display: block;}
        }


    }



    @include breakpoint(medium) {
        .nav-list {
            display: block !important;
        }
    }



}


@mixin sk-navbar {
    @include navbar;
}
