// ------------------------------------------------
// NAVIGATION:
//
// Top Bar Menu
// ------------------------------------------------


// Vars:
// ------------------------------------------------
// $top-menu-height:       50px;
// $top-menu-font-size:    1.5rem;
// $top-menu-bg:           $snow;
// $toggle-menu-bg:        $jet;
// $top-menu-link-color:   $primary-color;




// Top Menu:
// ------------------------------------------------

.top-menu {

    background: $top-menu-bg;
    border-bottom: 1px solid $border-color;
    margin-bottom: 2rem;
    // min-height: $top-menu-height;

    ul,
    li {
        margin: 0;
    }


    .nav {
        list-style: none;
         *zoom: 1;
    }
    .nav:before,
    .nav:after {
        content: " ";
        display: table;
    }
    .nav:after {
        clear: both;
    }

    .nav ul {
        list-style: none;
        white-space: nowrap;
    }
    .nav a {
        padding: 10px 15px;
        color: $top-menu-link-color;
        text-decoration: none;
        text-transform: $top-menu-text-transform;
    }
    .nav li {
        position: relative;
        // min-height: $top-menu-height;
    }
    .nav > li {
        float: left;
        // border-top: 1px solid $border-color;
    }
    .nav > li:hover {
        background: $top-menu-hover-bg;
    }
    .nav > li > .parent {
        // background-image: url("images/downArrow.png");
        // background-repeat: no-repeat;
        // background-position: right;
    }
        .nav > li > .parent:after {
            content: " ▸";
        }

    .nav > li > a {
        display: block;
        font-size: $top-menu-font-size;
    }
    .nav li  ul {
        position: absolute;
        left: -9999px;
    }
    .nav > li.hover > ul {
        left: 0;
    }



    .nav li li.hover ul {
        left: 100%;
        top: 0;
    }
    .nav li li a {
        display: block;
        background: $top-menu-hover-bg;
        position: relative;
        z-index:100;
        border-top: 1px solid $border-color;
        font-size: $top-menu-font-size;
    }
    .nav li li li a {
        background: $top-menu-hover-bg-l3;
        z-index:200;
        border-top: 1px solid $border-color;
        font-size: $top-menu-font-size;
    }

    // @media screen and (max-width: 768px) {
    @include mobile-only {

        .active {
            display: block;
        }
        .nav > li {
            float: none;
        }
        .nav > li > .parent {
            background-position: 95% 50%;
        }
        .nav li li .parent {
            // background-image: url("images/downArrow.png");
            // background-repeat: no-repeat;
            // background-position: 95% 50%;
        }
            .nav li li .parent:after {
            content: " ▸";
            }

        .nav ul {
            display: block;
            width: 100%;
        }
       .nav > li.hover > ul , .nav li li.hover ul {
            position: static;
        }

    } // END Media Query

} // END




// Top Menu Toggle for Mobile
// ------------------------------------------------

.toggleMenu {
    display:  none;
    background: $toggle-menu-bg;
    padding: 10px 15px;
    color: #fff;
    width: 100%;
}

a.toggleMenu {
    text-decoration: none;
}
