// ------------------------------------------------
// OFFCANVAS:
//
//
// ------------------------------------------------


////
/// Off Canvas Menu
/// @group offcanvas
////


/// Set offcanvas width
/// @type Color
$offcanvas-width: 260px !default;

/// Set offcanvas mask bg color
/// @type Color
$offcanvas-mask-bg: rgba(0,0,0,.7) !default;

/// Set offcanvas content bg color
/// @type Color
$offcanvas-content-bg: #efefef !default;


@mixin offcanvas {

    .offcanvas {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: map-get($zindex, offcanvas);
        left: -$offcanvas-width;
        width: 0px;

        transition: all 0.5s;
        transform: translate3d(0, 0, 0);
    }

    .offcanvas.active {
        left: 0;
    }

    .offcanvas-content {
        width: $offcanvas-width;
        padding: $line-height;
        background: $offcanvas-content-bg;
        height: 100%;
        overflow-y: auto;
    }

    .container {
        overflow: hidden;
        position: relative;
        transition: all 0.5s;
        transform: translate3d(0, 0, 0);
    }

    .container-pushed {
        transform: translateX($offcanvas-width);
    }

    .offcanvas-mask {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 0;
        height: 0;
        transition: background 0.3s;
        transform: translate3d(0, 0, 0);
    }

    .offcanvas-mask.active {
        width: 100%;
        height: 100%;
        background: $offcanvas-mask-bg;
    }

    .body-pushed {
        overflow: hidden;
    }

}

@mixin sk-offcanvas {
    @include offcanvas;
}