// ------------------------------------------------
// PAGINATION:
//
// ------------------------------------------------

/// Set background color of current item
/// @type Color
$pagination-current-bg: palette(secondary, light)!default;

/// Set text color of current item
/// @type Color
$pagination-current-color: $font-color!default;

/// Set hover background color of pagination link
/// @type Color
$pagination-hover-bg: palette(primary)!default;

/// Set hover text color of pagination link
/// @type Color
$pagination-hover-color: white!default;

/// Set size of pagination link text
/// @type Number
$pagination-font-size: $small-size!default;

/// Set padding of pagination linka
/// @type String
$pagination-padding: 3px 10px!default;

/// Define whether border radoius is used on pagination links
/// @type Boolean
$pagination-radius: true!default;


@mixin pagination {

    .pagination {
        margin-left: 0;
        margin-bottom: $line-height;
    }

    .pagination::after {
        clear: both;
    }

    .pagination li {
        font-size: $pagination-font-size;
        display: inline-block;
    }

    .pagination a {
        color: $font-color;
        display: block;
        padding: $pagination-padding;
        text-decoration: none;
        @if pagination-radius {
            border-radius: $global-radius/2;
        }
    }

    .pagination a:hover {
        background: $pagination-hover-bg;
        color: $pagination-hover-color;
    }

    .pagination .current {
        padding: $pagination-padding;
        background: $pagination-current-bg;
        color: $pagination-current-color;
        @if pagination-radius {
            border-radius: $global-radius/2;
        }
    }

    .pagination.centered {
        text-align: center;
    }

}
@mixin sk-pagination {
    @include pagination;
}