// ------------------------------------------------
// PAGINATION:
//
// ------------------------------------------------

.pagination {
    list-style: none;
    margin: 0;
    margin-left: 2px;
    margin-bottom: 24px;
    font-size: 94%;
}

.pagination:after {
    content: "";
    display: block;
    clear: both;
}

.pagination li {
    float: left;
}

.pagination a,.pagination span {
    padding: 4px 8px;
    line-height: 24px;
    margin-right: 2px;
    border-radius: 2px;
    color: #000;
    text-decoration: none;
}

.pagination span,.pagination a.active,.pagination a.active:hover {
    color: rgba(0,0,0,0.6);
    background-color: rgba(0,0,0,0.1);
    cursor: text;
}

.pagination a:focus,.pagination a:hover {
    -moz-transition: all linear 0.2s;
    transition: all linear 0.2s;
    text-decoration: none;
    background-color: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.6);
}

.pagination.centered {
    text-align: center;
}

.pagination.centered li {
    float: none;
    display: inline-block;
}