// ------------------------------------------------
// SCROLLBARS:
//
// Mainly webkit browsers, with a dash of IE
// https://css-tricks.com/custom-scrollbars-in-webkit/
// ------------------------------------------------


////
/// @group scrollbars
////

/// Scrollbar foreground color (ie. draggable area)
/// @type Color
$scrollbar-foreground-color: $primary-color!default;

/// Scrollbar background color
/// @type Color
$scrollbar-background-color: slategray!default;

/// Scrollbar size (width)
/// @type Number
$scrollbar-size: 8px!default;


@mixin scrollbars {

    ::-webkit-scrollbar {
        width:  $scrollbar-size;
        height: $scrollbar-size;
    }

    ::-webkit-scrollbar-thumb {
        background: $scrollbar-foreground-color;
    }

    ::-webkit-scrollbar-track {
        background: $scrollbar-background-color;
    }

    // For Internet Explorer
    body {
        scrollbar-face-color: $scrollbar-foreground-color;
        scrollbar-track-color: $scrollbar-background-color;
    }

}

@mixin sk-scrollbars {
    @include scrollbars;
}