// ------------------------------------------------
// TABS.SCSS
// ------------------------------------------------

// Vars:
$tab-bg-color: white !default;
$tab-link-color: palette(primary) !default;
$tab-link-hover-color: palette(primary, dark) !default;
$tab-radius: true !default;


@mixin tabs {

    .tabs {

        @include clearfix;

        margin-bottom: $line-height;

        @include breakpoint(medium down) {
            border: $border;

            @if tab-radius {
                border-radius: $global-radius;
            }
        }

        .tab {

            @include breakpoint(medium) {
                display: inline;
            }

            &:first-child .tab-button {
                @if tab-radius {
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                }

                @include breakpoint(medium down) {
                    border-top: 0;
                }

            }

            &:last-child .tab-button {
                @include breakpoint(medium down) {
                    @if tab-radius {
                        border-bottom-left-radius: $border-radius;
                        border-bottom-right-radius: $border-radius;
                    }
                }
            }

            &.active {
                .tab-button {
                    background-color: $tab-bg-color;
                    color: $tab-link-hover-color;
                    @include breakpoint(medium) {
                        background-color: $tab-bg-color;
                        border: $border;
                        border-bottom-color: $tab-bg-color;
                        margin-bottom: -1px;
                    }
                }
                .tab-content {
                    display: block;
                }
            }
        }

        .tab-button {
            font-family: $font-stack-header;
            border-top: $border;
            color: $tab-link-color;
            display: block;
            padding: ($line-height/2);
            text-decoration: none;

            @include breakpoint(medium) {
                @if tab-radius {
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                }
                border-top: 0;
                display: inline-block;
            }
            &:hover {
                color: $tab-link-hover-color;
            }
            &:focus {
                outline: none;
            }
        }

        // Actual content of the tab:
        .tab-content {
            background: $tab-bg-color;
            display: none;
            padding: $line-height;
            width: 100%;

            @include breakpoint(medium) {
                border: $border;
                float: left;

                @if tab-radius {
                    border-bottom-left-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                }
            }
        }

    }

}

@mixin sk-tabs {
    @include tabs;
}
