// ------------------------------------------------
// NAVIGATION:
//
// Top Bar Menu
// ------------------------------------------------


// Vars:
// ------------------------------------------------
// $top-menu-height:           50px;
// $top-menu-bottom-margin:    30px;
// $top-menu-font-size:        1.2rem;
// $toggle-menu-bg:            $jet;
// $top-menu-bg:               $gainsboro;
// $top-menu-bg-l2:            $base;
// $top-menu-bg-l3:            $aluminum;
// $top-menu-bg-l4:            $jumbo;

// $top-menu-link-color:       $primary-color;
// $top-menu-text-transform:   uppercase;

// $top-menu-hover-bg:         $iron;
// $top-menu-hover-bg-gc:      $base;

// $top-menu-mb-border-color:  $jet;




// Top Nav Menu:
// ------------------------------------------------

// Mobile Toggle:
a.menu-link {
    display: block;
    padding: 1rem;
    color: $top-menu-link-color;
    font-size: $top-menu-font-size;
    line-height: $top-menu-height;
    text-decoration: none;
    text-transform: $top-menu-text-transform;
    background: $toggle-menu-bg;
    width: 100%;
}

a.menu-link:before {
    content:'\2261';
    padding-right: 1rem;
    font-size: 200%;
    vertical-align:middle;
}

.top-menu {
    margin-bottom: $top-menu-bottom-margin;
}


// Mobile Up:
.top-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 100%;
}

.top-menu li {
    padding: 0;
    margin: 0;
}

.top-menu,
.top-menu > ul ul {
    clear: both;
    transition: all 0.3s ease-out;
    z-index: 1;
    // border-bottom: 1px solid red;
    // border-left: 1px solid yellow;
    background: $top-menu-bg;
}

.js .top-menu, .js .top-menu > ul ul {
    overflow: hidden;
    max-height: 0;
    background: $top-menu-bg;
}

.top-menu.active, .js .top-menu > ul ul.active {
    max-height: 55em;
}

.top-menu > ul {
    border-top: 1px solid $primary-color;
}

.top-menu li a {
    color: $top-menu-link-color;
    display: block;
    padding: 0 $top-menu-font-size;
    border-bottom: 1px solid #808080;
    position: relative;

    text-transform: $top-menu-text-transform;
    text-decoration: none;

    font-size: $top-menu-font-size;
    line-height: $top-menu-height;
}

.top-menu li.has-subnav > a:after {
    content: '+';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding-right: 1rem;
    font-size: 200%;
}

.top-menu li.has-subnav > a.active:after {
    content: "-";
}

// Child Colours:
.top-menu ul.level-2.active  {
  background: $top-menu-bg-l2;
  border-left: 1.5rem solid $top-menu-mb-border-color;
}

.top-menu ul.level-3.active  {
  background: $top-menu-bg-l3;
  border-left: 1.5rem solid $top-menu-mb-border-color;
}

.top-menu ul.level-4.active  {
  background: $top-menu-bg-l4;
  border-left: 1.5rem solid $top-menu-mb-border-color;
}

// Tablet & Up:
@include tablet-landscape-and-up {

    a.menu-link {
       display: none;
    }

    .contained {
        width: 100%;
        margin: 0 auto;
        max-width: $row-width;
        margin-bottom: $top-menu-bottom-margin;
    }

    .js .top-menu, .js .top-menu > ul ul {
        max-height: none;
        overflow: visible;
        background: $top-menu-bg;
    }

    .js .top-menu > ul ul {
        background: $top-menu-bg;
        display: none;
    }

    .js .top-menu > ul li:hover > ul {
        display: block;
    }

    .top-menu ul {
        margin: 0; // 0 0 0 -0.25em;
        border: 0;
    }

    .top-menu li a {
        border: 0;
    }

    .top-menu li a:hover {
        background: $top-menu-hover-bg;
    }

    .top-menu li.has-subnav > a {
        padding-right: 2em;
    }

    .top-menu li.has-subnav > a:after {
        content: "▸";
        font-size: $top-menu-font-size;
        padding: 0 $top-menu-font-size;
    }

    .top-menu .level-1 > li.has-subnav > a:after {
        content: "▸";
    }

    /*
    .top-menu > ul li {
        border-bottom: 1px solid $border-color;
    }
    */

    .top-menu > ul > li {
        display: inline-block;
        position: relative;
    }

    .top-menu > ul ul {
        position: absolute;
        top: 0;
        left: 12em;
        width: 12em;
    }

    .top-menu > ul ul li {
        position: relative;
        border-bottom: 1px solid $border-color;
    }

    .top-menu > ul ul.level-2 {
        top: $top-menu-height;
        left: 0;
    }
}
