// ------------------------------------------------
//  ACCESSIBILITY.SCSS:
//
// ------------------------------------------------


////
/// Accessibility Related Classes
/// @group accessibility
////




/// @name sr-only
/// Visually hides content but remains accessible to screen reader users

/// @example
///   <a class="sr-only" href="#mainContent">Skip to main content</a>


@mixin sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}



/// @name show-on-focus

/// Visually hides content until focussed
/// For elements other than anchors & form elements,
/// use in conjunction with tabindex, to allow them
/// to recieve keyboard focus

/// @example
///   <div class="show-me-when-focused" tabindex="0">
///     <p>This content is visible on focus</p>
///   </div>

/// @link http://webaim.org/techniques/keyboard/tabindex

@mixin show-on-focus {

    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;


    &:focus {
        position: static;
        width: auto;
        height: auto;
    }

}



@mixin sk-accessibility {

    .sr-only {
        @include sr-only;
    }

     .show-on-focus {
        @include show-on-focus;
    }

}