// ------------------------------------------------
// MEDIA:
//
// Images, Video, Embeds etc
// ------------------------------------------------


// ------------------------------------------------
// IMAGES:
// ------------------------------------------------

// Basic Image:
// ------------------------------------------------
img {
  max-width: 100%;
  height: auto;
}

// Image Thumbnails:
// ------------------------------------------------
.th {
    line-height: 0;
    display: inline-block;
    border: solid 4px transparent;
    max-width: 100%;
    box-shadow: 0 0 0 1px $border-color;
}

.th:hover,
.th:focus {
    box-shadow: 0 0 0 1px $primary-color;
}



// ------------------------------------------------
// VIDEO:
// ------------------------------------------------

