// ------------------------------------------------
// TYPOGRAPHY:
//
// ------------------------------------------------


html {
    font-size: 62.5%; //100%; //62.5%;
}

body {
    font-size:      1.6em; /* ems, 'cause chrome bug - 16px */
    line-height:    1.6em;
    font-weight:    $font-weight;
    font-family:    $font-stack-body; // "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:          $font-color;
}


// Headers
// ------------------------------------------------
h1      { font-size: 3.157em; }
h2      { font-size: 2.369em; }
h3      { font-size: 1.777em; }
h4      { font-size: 1.333em; }
h5      { font-size: 1.222em; }
h6      { font-size: 1.111em; }

h1, h2, h3,
h4, h5,
h6 {
    font-family: $font-stack-header;
    font-weight: 300;
    margin: 0.5em 0 1em;
}


// Subheaders
// ------------------------------------------------
@mixin subheader {
    color: $subheader-font-color;
    font-weight: $subheader-font-weight;
}

.subheader { @include subheader; }

// Paragraphs:
// ------------------------------------------------
p {
    line-height: 1.5;
    margin: 0 0 1.3em;
}


// Text size boost: Handy for lead or important text
.lead-text {
    font-size: 1.3em;
}

// Small Tag: Covered in Normalize.css (font-size: 80%) but override here if needed
// ------------------------------------------------
// small {font-size: 80%}

// Blockquotes:
// ------------------------------------------------
blockquote {
    margin: 0 0 $line-height 0;
    padding: 1rem 2rem;
    border-left: $blockquote-border;
    color: $font-color;
    font-size: $blockquote-font-size;
    background: $blockquote-bg;

    cite {
        display: block;
        font-size: 0.8em;
        color: $font-color;
        font-style: oblique;
            &:before {
              // content: "\2014 \0020";
            }
    }

}

// Links
// ------------------------------------------------
a {
    color: $primary-color;
}

a:hover {
    color: darken($primary-color, 15);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
}

// Lists
// ------------------------------------------------
ul {
    list-style: disc inside;
}

ol {
    list-style: decimal inside;
}

ol, ul {
    margin-top: 0;
    padding-left: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;}

li {
    margin-bottom: 1rem;}

ul.no-bullet {
    list-style: none;
}

ul.inline-list {
    list-style: none;
}

.inline-list > li {
list-style: none;
float: left;
// margin-left: 1.22222rem;
display: block;
}


// Code
// ------------------------------------------------
code {
    font-family: $font-stack-code;
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    background: #F1F1F1;
    border: 1px solid $border-color;
    border-radius: $global-radius;
    white-space: nowrap;
    overflow: auto;
}
pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

// HR
// ------------------------------------------------
hr {
    border:         solid $border-color;
    border-width:   1px 0 0;
    clear:          both;
    margin:         $line-height 0;
    height:         0;
}
