// ------------------------------------------------
// TYPOGRAPHY:
//
// ------------------------------------------------

////
/// Typography
/// @group typography
////

/// Define the line height
/// @type Number
$line-height:   1.6em!default;

/// Define the font weight
/// @type String
$font-weight:   400!default;

/// Set the header color
/// @type Color
$header-font-color: $font-color!default;

/// Define the header font weight
/// @type String
$header-font-weight: 300!default;

/// Set the subheader color
/// @type Color
$subheader-font-color: scale-color($header-font-color, $lightness: 45%)!default;

/// Define the subheader font weight
/// @type String
$subheader-font-weight: 300!default;

/// Define the paragraph margin
/// @type String
$paragraph-margin: 0 0 $line-height!default;

/// Define the paragraph font-weight
/// @type String
$paragraph-font-weight: $font-weight!default;

/// Define the size of the small tag
/// @type String
$small-size: 0.8rem!default;

/// Blockquotes:
/// Define the line height
/// @type Number
$blockquote-font-size:  1.1em!default;

/// Define blockquotes text color
/// @type Color
$blockquote-font-color: $font-color!default;

/// Set the blockquotes border
/// @type String
$blockquote-border:     5px solid $gainsboro!default; // Left border

/// Define blockquotes background color
/// @type Color
$blockquote-bg:         $ghost!default;



html {
    font-size: 100%; //62.5%;
}

body {
    // font-size:      1.6em; /* ems, 'cause chrome bug - 16px */
    line-height:    $line-height;
    font-weight:    $font-weight;
    font-family:    $font-stack-body; // "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:          $font-color;
}


// Headers
// ------------------------------------------------

h1      { font-size: 3.157rem; }
h2      { font-size: 2.369rem; }
h3      { font-size: 1.777rem; }
h4      { font-size: 1.333rem; }
h5      { font-size: 1.222rem; }
h6      { font-size: 1.111rem; }

h1, h2,
h3, h4,
h5, h6 {
    font-family: $font-stack-header;
    font-weight: 300;
    line-height: 1.2;
    margin: 2rem 0 1rem;
}

// Subheaders
// ------------------------------------------------
@mixin subheader {
    color: $subheader-font-color;
    font-weight: $subheader-font-weight;
}

.subheader { @include subheader; }

// Paragraphs:
// ------------------------------------------------
p {
    margin: $paragraph-margin;
    font-weight: $paragraph-font-weight;
}


// Text size boost: Handy for lead or important text
.lead-text {
    font-size: 1.3em;
}

// Small Tag:
// ------------------------------------------------
small {font-size: $small-size;}

// Quotes:
// ------------------------------------------------
q:before   { content: '“'}
q:after    { content: '”'}
q q:before { content: '‘'}
q q:after  { content: '’'}

// Mark:
// ------------------------------------------------
mark {
    background: yellow;
    color: black;
}

// Blockquotes:
// ------------------------------------------------
blockquote {
    margin: 0 0 $line-height 0;
    padding: 1rem 2rem;
    border-left: $blockquote-border;
    color: $font-color;
    font-size: $blockquote-font-size;
    background: $blockquote-bg;

    cite {
        display: block;
        font-size: 0.8em;
        color: $font-color;
        font-style: oblique;
            &:before {
              // content: "\2014 \0020";
            }
    }

}

// Links
// ------------------------------------------------
a {
    color: $link-color;
}

a:hover {
    color: darken($link-color, 15);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
}

// Lists
// ------------------------------------------------
ul {
    list-style: disc inside;
}

ol {
    list-style: decimal inside;
}

ol, ul {
    margin: 0 0 1.6rem;
    padding-left: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-left: 2rem;
}

li {
    margin: 0.5rem 0;}

ul.no-bullet {
    list-style: none;
}

ul.inline-list {
    list-style: none;
}

.inline-list > li {
    list-style: none;
    float: left;
    display: block;
}


// Code
// ------------------------------------------------
code {
    font-family: $font-stack-code;
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    background: #F1F1F1;
    border: 1px solid $border-color;
    border-radius: $global-radius;
    white-space: nowrap;
    overflow: auto;
}
pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

// HR
// ------------------------------------------------
hr {
    border:         solid $border-color;
    border-width:   1px 0 0;
    clear:          both;
    margin:         $line-height 0;
    height:         0;
}
