// ------------------------------------------------
//  VARIABLES.SCSS:
//
//  Define All The Things!
// ------------------------------------------------

// Font Families:
// ------------------------------------------------
$font-stack-header: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-body: "Georgia", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-code: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;


// Hues & Tints:
// ------------------------------------------------

// Grayscale
$white      :       #FFFFFF;
$ghost      :       #FAFAFA;
$snow       :       #F9F9F9;
$vapor      :       #F6F6F6;
$white-smoke:       #F5F5F5;
$silver     :       #EFEFEF;
$smoke      :       #EEEEEE;
$gainsboro  :       #DDDDDD;
$iron       :       #CCCCCC;
$base       :       #AAAAAA;
$aluminum   :       #999999;
$jumbo      :       #888888;
$monsoon    :       #777777;
$steel      :       #666666;
$charcoal   :       #555555;
$tuatara    :       #444444;
$oil        :       #333333;
$jet        :       #222222;
$black      :       #000000;

// Color
$primary-color:     #1EAEDB;   // Blue
$secondary-color:   #e7e7e7;   // Light Gray

$success-color:     #d5ecd9;   // Green
$warning-color:     #fff4cc;   // OrangeYellow
$info-color:        #d9edf7;   // Light Blue
$danger-color:      #f8d5d8;   // Red

$link-color:        $primary-color;
$font-color:        $jet;
$border-color:      $iron;

$highlight-color:   #fff4cc;


// Rounded Things:
// ------------------------------------------------
$global-radius: 4px;
$rounded: 1000px;




// Grid Variables:
// ------------------------------------------------

$row-width:         960px;                  // Row Max-Width
$total-columns:     12;                     // 12 columns default
$column-width:      100 / $total-columns;   // Calculates individual column width based off of # of columns
$column-margin:     4%;                     // Padding between columns
$column-padding:    false;                  // Padding inside columns: either "false" or standard padding value, eg. "1rem, 0.75rem 0"
$row-space:         2rem;                   // Margin-bottom for .row


// Breakpoints
$small-range:   (0em, 40em);                // 0, 640px
$medium-range:  (40.063em, 64em);           // 641px, 1024px
$large-range:   (64.063em, 90em);           // 1025px, 1440px
$xlarge-range:  (90.063em, 120em);          // 1441px, 1920px
$xxlarge-range: (120.063em);                // 1921px





// Alert Variables:
// ------------------------------------------------
$alert-border: true;               // TRUE or FALSE