// ------------------------------------------------
//  VARIABLES.SCSS:
//
//  Define All The Things!
// ------------------------------------------------

// Font Families:
// ------------------------------------------------
$font-stack-header: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-body: 	"Merriweather", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-code: 	"Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;


// Hues & Tints:
// ------------------------------------------------

// Grayscale
$white      :       #FFFFFF;
$ghost      :       #FAFAFA;
$snow       :       #F9F9F9;
$vapor      :       #F6F6F6;
$white-smoke:       #F5F5F5;
$silver     :       #EFEFEF;
$smoke      :       #EEEEEE;
$gainsboro  :       #DDDDDD;
$iron       :       #CCCCCC;
$base       :       #AAAAAA;
$aluminum   :       #999999;
$jumbo      :       #888888;
$monsoon    :       #777777;
$steel      :       #666666;
$charcoal   :       #555555;
$tuatara    :       #444444;
$oil        :       #333333;
$jet        :       #222222;
$black      :       #000000;

// Color
$primary-color:     #1EAEDB;   // Blue
$secondary-color:   #e7e7e7;   // Light Gray

$success-color:     #d5ecd9;   // Green
$warning-color:     #fff4cc;   // OrangeYellow
$info-color:        #d9edf7;   // Light Blue
$danger-color:      #f8d5d8;   // Red

$link-color:        $primary-color;
$font-color:        $jet;
$border-color:      $iron;

$highlight-color:   #fff4cc;


// Rounded Things:
// ------------------------------------------------

$global-radius: 4px;
$rounded: 1000px;


// Grid Variables:
// ------------------------------------------------

$global-font-size: 100%;

$global-width: rem-calc(1200);

// Breakpoint definitions:
$breakpoints: (
    small: 0,
    medium: 640px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
);

// Classes to output for prototyping grid
$breakpoint-classes: (small medium large);

// The maximum width of a row
$grid-row-width: $global-width;

// Default column count of the grid
$grid-column-count: 12;

// The amount of space between columns at different screen sizes. To use just one size, set the variable to a number instead of a map.
$grid-column-gutter: (
    small: 20px,
    medium: 30px,
);

// If true, the last column in a row will align to the opposite edge of the row
$grid-column-align-edge: true;

// The highest number of .x-up classes available when using the block grid CSS
$block-grid-max: 8;

// Bring on the grid:
// @import 'grid/grid';

// Generate either the standard or the flex-grid classes for prototyping:
// @include foundation-grid;
// OR:
// @include foundation-flex-grid;
@import "../layout/grid/_grid.scss";
@include foundation-grid;


// Typography Variables:
// ------------------------------------------------

// General (Paragraph inherits from this):
$line-height:   1.6em;
$font-weight:   400;

// Headers:
$header-font-color: $font-color;
$header-font-weight: 300;

//Subheaders:
$subheader-font-color: scale-color($header-font-color, $lightness: 45%);
$subheader-font-weight: 300;

// Blockquotes:
$blockquote-font-size:  1.1em;
$blockquote-font-color: $font-color;
$blockquote-border:     5px solid $gainsboro; // Left border
$blockquote-bg:         $ghost;




// Alert Variables:
// ------------------------------------------------

$alert-border: false;				// TRUE or FALSE
$alert-radius: true; 				// TRUE or FALSE


// Button Variables:
// ------------------------------------------------

$button-radius: true;               // TRUE or FALSE


// Card Variables:
// ------------------------------------------------
$card-radius: true;                // TRUE or FALSE
$card-border: true;                // TRUE or FALSE

$card-background: $ghost;
$card-padding: 1rem;
$card-header-bg: $gainsboro;
$card-footer-bg: $gainsboro;


// Navigation Variables:
// ------------------------------------------------

// Top Menu:
$top-menu-height:       	50px;
$top-menu-bottom-margin:    30px;
$top-menu-font-size:    	1.2rem;
$toggle-menu-bg:        	$jet;
$top-menu-bg:				$gainsboro;
$top-menu-bg-l2:            $base;
$top-menu-bg-l3:            $aluminum;
$top-menu-bg-l4:            $jumbo;

$top-menu-link-color:		$primary-color;
$top-menu-text-transform:	uppercase;

$top-menu-hover-bg:			$iron;
$top-menu-hover-bg-gc:		$base;

$top-menu-mb-border-color:  $toggle-menu-bg;

// Sidebar Nav:
$sidebar-width:                 250px;
$sbp-content-padding-top:       30px;
$sidebar-nav-bg:                $jet;
$sidebar-nav-bg-hover-color:    $black;
$sidebar-nav-font-size:         1.4rem;

// Scrollbar Variables:
// ------------------------------------------------
$scrollbar-foreground-color: $primary-color;
$scrollbar-background-color: slategray;
$scrollbar-size: 8px;