//  VARIABLES.SCSS:
//  Define All The Things!
// ------------------------------------------------

// Font Families:
// ------------------------------------------------
$font-stack-header: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-body: "Georgia", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-code: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;


// Hues & Tints:
// ------------------------------------------------

// Grayscale
$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

// Colors
$primary-color:      #1EAEDB;   // Blue
$secondary-color:    #e7e7e7;   // Light Gray
$alert-color:        #f2dede;   // Red
$success-color:      #dff0d8;   // Green
$warning-color:      #fffbe6;   // Orange
$info-color:         #d9edf7;   // Light Blue

$link-color:        $primary-color;
$font-color:        $jet;
$border-color:      $iron;


// Rounded Things:
// ------------------------------------------------
$global-radius: 4px;
$rounded: 1000px;




// Grid Variables:
// ------------------------------------------------

$container-width:   960px;                  // 960px
$total-columns:     12;                     // 12 columns default
$column-width:      100 / $total-columns;   // Calculates individual column width based off of # of columns
$column-margin:     4%;                     // Padding between columns
$column-padding:    false;                  // Padding inside columns: either "false" or standard padding value, eg. "1rem, 0.75rem 0"
$row-space:         2rem;                   // Margin-bottom for .row


// Breakpoints
$larger-than-mobile:    400px;
$larger-than-phablet:   550px;
$larger-than-tablet:    750px;
$larger-than-desktop:   1000px;
$larger-than-desktophd: 1200px;